.custom-section {
    background: linear-gradient(
      111.68deg,
      #23041f 21.4%,
      #360a23 122.16%
    ) !important;
  }
  .uk-tab::before {
    border-bottom: 2px solid #591a9e;
  }
  .uk-card {
      border-radius: 35px !important;
  }
  .custom-bg-first-child {
    background: #fe7724;
  }
  .custom-bg-second-child {
    background: #353F5B;
  }
  .custom-button-design {
    border-radius: 50px;
  }
  .custom-anchor-tag {
    cursor: pointer;
    text-decoration: none;
  }
  .uk-tab > .uk-active > a {
    border-color: #fe7724;
    border-bottom: 2px solid #fe7724;
    color: #fe7724 !important;
  }
  .tech-img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  }
  
  .tech-img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
  }
  
/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	background: rgba(34,34,34,.8);
  cursor: pointer;
}

figure.effect-bubba img {
	opacity: 0.4;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	// opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.custom-bg-overlay {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 24px !important;
}

.custom-bg-image {
  background-image: url('../../assets/images/app-dev/app-dev-section-2-bg.png');
}

// Mobile Development specific styling
.uk-margin-remove-top.txt-white {
  width: 281.53px;
  height: 105.25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #F7F7F7;
  padding: 15px 25px;
  box-sizing: border-box;
  line-height: 1.2;
  overflow: hidden;
}