<div class="uk-section uk-background-cover">
  <div
  class="uk-container"
  uk-scrollspy="cls: uk-animation-slide-left-small; target: h1, h4, button, img, button; delay: 150; "
>
  <div class="uk-child-width-1-2@s" uk-grid>
    <div class="uk-margin-auto-vertical">
      <h1 class="uk-text-bold uk-text-uppercase txt-white">Digital Agency</h1>
      <p class="txt-white">
        Full-service design support that growing B2B companies need. World leading agency.
      </p>
    </div>
    <div class="">
      <img
        alt="hero_image"
        src="/assets/images/services/digital_agency.png"
        width="350"
        height="350"
      />
    </div>
  </div>
</div>
</div>
<!-- We are Specialized -->
<div class="uk-margin-top custom-bg-overlay">
  <div class="uk-section">
    <div
      class="uk-container"
      uk-scrollspy="cls: uk-animation-slide-bottom; target: h1, .custom-subheading; delay: 200; "
    >
      <h2
        class="txt-white uk-margin-bottom-small uk-text-center uk-margin-remove-bottom"
      >
        WE ARE
        <span class="txt-primary">SPECIALIZED</span>
      </h2>
      <p
        class="uk-margin-remove-top txt-white uk-text-center uk-margin-remove-top custom-subheading"
        style="width:1165px; height:21.75px; font:14.5px Arial, Helvetica, sans-serif; color:#F7F7F7; margin:0 0 20px;"
      >
        We make everything with passion and love
      </p>
      <div class="uk-margin uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
        <div class="uk-animation-toggle">
          <div class="">
            <a [routerLink]="['/games/herosection']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/home/Img_06.png"
                  width="1800"
                  height="1200"
                  alt="GD_BG"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom">
                  <img
                    alt=""
                    src="/assets/images/home/Icon_12.png"
                    alt="GD_ICON"
                    width="45"
                    height="45"
                  />
                  <h4
                    class="uk-margin-remove uk-text-bold txt-white uk-text-uppercase"
                  >
                    Game Development
                  </h4>
                  <p class="uk-margin-remove-top txt-white">
                    Whether you want a single player, multiplayer, a Metaverse
                    games, or even AR/VR game.
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <div class="uk-animation-toggle">
          <div class="">
            <a [routerLink]="['/herosection']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/Games/Game-Development_Image.png"
                  width="1800"
                  height="1200"
                  alt="ESPORTS_BG"
                  style="filter: blur(4px); height: 246.63px;"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom" style="height: 246.63px; box-sizing: border-box; border: 1px solid rgba(255,255,255,0.95); padding: 16px;">
                <img
                  alt="ESPORTS_ICON"
                  src="/assets/esports_icon_60x50.png"
                  width="60"
                  height="50"
                />
                  <h4
                    class="uk-margin-remove uk-text-bold txt-white uk-text-capitalize"
                    style="height: 28px; line-height: 1.05;"
                  >
                    Esports Application<br>Development
                  </h4>
                  <p class="txt-white" style="height: 105.25px; box-sizing: border-box; margin-top: 8px !important;">
                    From tournaments to analytics,<br>
                    we build esports apps for players and fans.
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <div class="uk-animation-toggle">
          <div class="">
            <a [routerLink]="['/nft/herosection']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/home/Img_04.png"
                  width="1800"
                  height="1200"
                  alt="GD_BG"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom">
                  <img
                    alt=""
                    src="/assets/images/home/Icon_10.png"
                    alt="GD_ICON"
                    width="45"
                    height="45"
                  />
                  <h4
                    class="uk-margin-remove uk-text-bold txt-white uk-text-uppercase"
                  >
                    Blockchain Development
                  </h4>
                  <p class="uk-margin-remove-top txt-white">
                    We specialize in Web 3.0 developments. Whether you want to
                    develop a new..
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <div class="uk-animation-toggle">
          <div>
            <a [routerLink]="['/metaverse-metahumans/herosection']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/home/Img_02.png"
                  width="1800"
                  height="1200"
                  alt="GD_BG"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom">
                  <img
                    alt=""
                    class="txt-white"
                    src="/assets/images/home/Icon_13.png"
                    alt="GD_ICON"
                    width="45"
                    height="45"
                  />
                  <h4
                    class="uk-margin-remove uk-text-bold txt-white uk-text-uppercase"
                  >
                    Metaverse Developments
                  </h4>
                  <p class="uk-margin-remove-top txt-white">
                    Our Blockchain specialists can help you with all sorts of
                    Metaverse developments..
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <div class="uk-animation-toggle">
          <div>
            <a [routerLink]="['/mobile-app-development']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/home/Img_03.png"
                  width="1800"
                  height="1200"
                  alt="GD_BG"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom">
                  <img
                    alt=""
                    src="/assets/images/home/Icon_9.png"
                    alt="GD_ICON"
                    width="45"
                    height="45"
                  />
                  <h4
                    class="uk-margin-remove uk-text-bold txt-white uk-text-uppercase"
                  >
                    Mobile Development
                  </h4>
                  <p class="uk-margin-remove-top txt-white">
                    Mobile apps for iOS and Android.<br>
                    For players, organizers, and fans.<br>
                    Tournament access and notifications.
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <div class="uk-animation-toggle">
          <div>
            <a [routerLink]="['/mobileapp-webdev/herosection']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/home/Img_01.png"
                  width="1800"
                  height="1200"
                  alt="GD_BG"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom">
                  <img
                    alt=""
                    src="/assets/images/home/Icon_7.png"
                    alt="GD_ICON"
                    width="45"
                    height="45"
                  />
                  <h4
                    class="uk-margin-remove uk-text-bold txt-white uk-text-uppercase"
                  >
                    Web App Development
                  </h4>
                  <p class="uk-margin-remove-top txt-white">
                    We specialize in Web 3.0 developments. Whether you want to
                    develop a new..
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-section">
  <div class="uk-container">
    <h2
      class="uk-text-capitalize txt-white uk-text-center uk-margin-remove-bottom"
    >
      WE ARE <span class="txt-primary">EXPERTISE</span>
    </h2>
    <p class="uk-margin-remove-top txt-white uk-text-center">
      We make everything with passion and love
    </p>
    <div class="uk-margin-medium-top">
      <ul class="uk-flex-center" uk-tab>
        <li class="uk-active"><a class="txt-white" href="#">Mobile</a></li>
        <li><a href="#" class="txt-white">Frontend</a></li>
        <li><a href="#" class="txt-white">Backend</a></li>
        <li><a href="#" class="txt-white">Game</a></li>
        <li><a href="#" class="txt-white">Blockchain</a></li>
      </ul>
      <ul class="uk-switcher uk-margin">
        <li>
          <div
            class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2 uk-child-width-1-2 uk-flex-center uk-text-center"
            uk-grid
            uk-scrollspy="cls: uk-animation-scale-up; target: img, p; delay: 100; "
          >
            <div>
              <div class="">
                <img
                  alt="Android"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/android.png"
                />
                <p class="uk-text-bold txt-white">Android</p>
              </div>
            </div>
            <div class="">
              <div class="">
                <img
                  alt="iOS"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/iOS.png"
                />
                <p class="uk-text-bold txt-white">iOS</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="flutter"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/flutter.png"
                />
                <p class="uk-text-bold txt-white">Flutter</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="react"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/react.png"
                />
                <p class="uk-text-bold txt-white">React Native</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="swift"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/swift.png"
                />
                <p class="uk-text-bold txt-white">Swift</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="kotlin"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/kotlin.png"
                />
                <p class="uk-text-bold txt-white">Kotlin</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="mobile"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/mobile.png"
                />
                <p class="uk-text-bold txt-white">iPad</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="microsoft"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/microsoft.png"
                />
                <p class="uk-text-bold txt-white">Windows</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="ar"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/ar.png"
                />
                <p class="uk-text-bold txt-white">AR</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="vr"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/vr.png"
                />
                <p class="uk-text-bold txt-white">VR</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div
            class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2 uk-flex-center uk-text-center"
            uk-grid
            uk-scrollspy="cls: uk-animation-fade; target: img, p; delay: 100; "
          >
            <div>
              <div class="">
                <img
                  alt="typescript"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/typescript.png"
                />
                <p class="uk-text-bold txt-white">TypeScript</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="angular"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/angular.png"
                />
                <p class="uk-text-bold txt-white">Angular</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="golang"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/golang.png"
                />
                <p class="uk-text-bold txt-white">Golang</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="js"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/js.png"
                />
                <p class="uk-text-bold txt-white">JavaScript</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="react"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/react.png"
                />
                <p class="uk-text-bold txt-white">ReactJS</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="html-5"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/html-5.png"
                />
                <p class="uk-text-bold txt-white">HTML5</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div
            class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2 uk-flex-center uk-text-center"
            uk-grid
            uk-scrollspy="cls: uk-animation-fade; target: img, p; delay: 100; "
          >
            <div>
              <div class="">
                <img
                  alt="php"
                  class="tech-img"
                  src="assets/images/app-dev/php.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">PHP</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="java"
                  class="tech-img"
                  src="assets/images/app-dev/java.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">JAVA</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="dotnet"
                  class="tech-img"
                  src="assets/images/app-dev/dotnet.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">DotNet</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="c"
                  class="tech-img"
                  src="assets/images/app-dev/c.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">C#</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="ruby"
                  class="tech-img"
                  src="assets/images/app-dev/ruby.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Ruby</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="python"
                  class="tech-img"
                  src="assets/images/app-dev/python.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Python</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="laravel"
                  class="tech-img"
                  src="assets/images/app-dev/laravel.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Laravel</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="scala"
                  class="tech-img"
                  src="assets/images/app-dev/scala.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Scala</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="nodejs"
                  class="tech-img"
                  src="assets/images/app-dev/nodejs.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">NodeJS</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="django"
                  class="tech-img"
                  src="assets/images/app-dev/django.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Django</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div
            class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2 uk-flex-center uk-text-center uk-grid-match"
            uk-grid
            uk-scrollspy="cls: uk-animation-fade; target: img, p; delay: 100; "
          >
            <div>
              <div class="">
                <img
                  alt="2D3Dgames"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/games.png"
                />
                <p class="uk-text-bold txt-white">2D/3D Game Design</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="Unity3D"
                  class="tech-img"
                  src="assets/images/app-dev/unity.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Unity 3D</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="unreal-engine"
                  class="tech-img"
                  src="assets/images/app-dev/unreal-engine.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Unreal Engine</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="smartfoxserver"
                  class="tech-img"
                  src="assets/images/app-dev/smartforserver.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Smart Fox Server (SFS)</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="Photon"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/photon.png"
                />
                <p class="uk-text-bold txt-white">Photon Server</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div
            class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2 uk-flex-center uk-text-center uk-grid-match"
            uk-grid
            uk-scrollspy="cls: uk-animation-fade; target: img,p; delay: 100; "
          >
            <div>
              <div class="">
                <img
                  alt="solidity"
                  class="tech-img"
                  src="assets/images/app-dev/solidity.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Solidity</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="ethermint"
                  class="tech-img"
                  src="assets/images/app-dev/ethermint.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">EtherMint</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="tendermint"
                  class="tech-img"
                  src="assets/images/app-dev/tendermint.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">KaderMint</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="ses"
                  class="tech-img"
                  src="assets/images/app-dev/ses.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Secure ECMA Script (ses)</p>
              </div>
            </div>
            <div>
              <div class="rust">
                <img
                  alt=""
                  class="tech-img"
                  src="assets/images/app-dev/rust.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Rust</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="haskell"
                  class="tech-img"
                  src="assets/images/app-dev/haskell.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Haskell</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="plutus"
                  class="tech-img"
                  src="assets/images/app-dev/plutus.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Plutus</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="c++"
                  class="tech-img"
                  src="assets/images/app-dev/c++.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">C++</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="js"
                  class="tech-img"
                  src="assets/images/app-dev/js.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">JavaScript</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="">
  <div
    class="uk-section-default uk-background-cover uk-section custom-bg-image"
  >
    <div class="uk-container">
      <div class="" uk-grid>
        <div
          class="uk-width-1-2@s"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: img, button; delay: 200; "
        >
          <img
            class=""
            src="/assets/images/app-dev/our_approach.png"
            alt="Our Approach"
          />
        </div>
        <div class="uk-width-1-2@s">
          <div
            class="uk-margin-large-left"
            uk-scrollspy="cls: uk-animation-slide-bottom; target: h1, h3, p; delay: 150; "
          >
            <h2 class="custom-heading txt-white">
              Our Solution <span class="txt-primary">Approach</span>
            </h2>
            <div class="uk-flex uk-flex-row">
              <div class="uk-margin-left">
                <h4 class="uk-margin-small-bottom txt-white">
                  <img src="/assets/images/services/TunderMark.png" width="20" height="20" alt="tunderMark_icon" /> Data Analysis with problem factor
                </h4>
                <p class="uk-margin-remove txt-white">
                  Delivering the spatial expertise of the largest, most
                  sophisticated performance marketing agencies, while providing
                  intimate, boutique-like support.
                </p>
              </div>
            </div>
            <div class="uk-flex uk-flex-row uk-margin-top">
              <div class="uk-margin-left">
                <h4 class="uk-margin-small-bottom txt-white">
                  <img src="/assets/images/services/TunderMark.png" width="20" height="20" alt="tunder_icon" /> Functionality solution for users
                </h4>
                <p class="uk-margin-remove txt-white">
                  Delivering the spatial expertise of the largest, most
                  sophisticated performance marketing agencies.
                </p>
              </div>
            </div>
            <div class="uk-flex uk-flex-row uk-margin-top">
              <div class="uk-margin-left">
                <h4 class="uk-margin-small-bottom txt-white">
                  <img src="/assets/images/services/TunderMark.png" width="20" height="20" alt="tunder_icon" /> Latest technology enabled
                </h4>
                <p class="uk-margin-remove txt-white">
                  Technology the spatial expertise of the largest, most
                  sophisticated performance marketing agencies, while providing
                  intimate, boutique-like support.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
