.bg-primary {
  background: #360a23;
}
.footer-bg {
  background-color: #57394d;
}
.text-primary {
  color: #fe7724;
}

.custom-height-card-01 {
  height: 300px
}

.custom-height-card-02 {
  height: 400px
}