<!-- Hero section start -->
<div class="">
    <div class="uk-section">
      <div class="uk-container">
        <div class="uk-child-width-1-2@m" uk-grid>
          <div
            class="uk-margin-auto-vertical"
            uk-scrollspy="cls: uk-animation-slide-left-small; target: h1, p, button; delay: 300"
          >
            <div class="">
              <h1 class="uk-text-uppercase txt-white">
                Mobile App & Web development
              </h1>
              <p class="txt-white">
                At Amplitude Studios, you can get functional, user-friendly,
                scalable, and future-proof mobile app and web development
                services. Regardless of what you want to develop, you can connect
                with us. We have a team of skilled and experienced developers to
                impress you with the results.
              </p>
              <button
                class="uk-button uk-button-primary uk-border-rounded uk-margin-top"
              >
                Contact Us
              </button>
            </div>
          </div>
          <div
            class=""
            uk-scrollspy="cls: animate__animated animate__flipInY; target: img; delay: 300"
          >
            <img
              class="uk-align-center"
              width="500"
              height="500"
              src="/assets/images/mobile_web/mobileandWebDev.png"
              alt="MobileApp-WebDev"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero section end -->
  <!-- Mobile Section Start -->
  <div class="uk-section" id="mobile-apps">
    <div class="uk-container">
      <div class="uk-child-width-1-2@m" uk-grid>
        <div
          class="uk-margin-auto-vertical"
          uk-scrollspy="cls: animate__animated animate__pulse; target: img; delay: 200"
        >
          <img
            class="uk-padding"
            src="/assets/images/mobile_web/mobiledev.png"
            alt="Mobile App"
          />
        </div>
        <div
          class=""
          uk-scrollspy="cls: uk-animation-slide-right-small; target: h2, hr, p; delay: 200"
        >
          <h2 class="txt-white uk-text-uppercase">Mobile App Development</h2>
          <hr class="uk-divider-small" />
          <p class="txt-white">
            We are living in a world where every business out there would require
            a mobile app. However, you should not just have a mobile app for the
            sake of having it. It should be functional and user-friendly as well.
            We are there to help you with developing such a mobile app for your
            business or any other need.
          </p>
          <p class="txt-white">
            When it comes to mobile app development, there are many different
            strategies available to follow. You can count on us for:
          </p>
          <div class="uk-margin-left">
            <p class="txt-white uk-text-bold">
              🟠 Native Android app development
            </p>
            <p class="txt-white uk-margin-left">
              To develop native iOS apps, we are using Swift, Objective-C and
              X-Code.
            </p>
          </div>
          <div class="uk-margin-left">
            <p class="txt-white uk-text-bold">🟠 Native iOS app development</p>
            <p class="txt-white uk-margin-left">
              Our native Android app development services are based upon Java,
              Kotlin, and Android Studio
            </p>
          </div>
          <div class="uk-margin-left">
            <p class="txt-white uk-text-bold">🟠 Hybrid mobile app development</p>
            <p class="txt-white uk-margin-left">
              We offer hybrid mobile app development services with React Native,
              Flutter, Ionic, HTML5, and JavaScript.
            </p>
            <p class="txt-white uk-margin-left">
              Before mobile app development, we design the user interfaces with
              the help of our UI/UX specialists. They use tools such as Adobe XD,
              Figma, Adobe Photoshop, and Adobe Illustrator to deliver outstanding
              results.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Section End -->