<div class="">
  <div
    class="uk-section"
    uk-scrollspy="cls: uk-animation-slide-left-small; target: .uk-divider-small; delay: 300; "
  >
    <div class="uk-container">
      <div class="">
        <h1
          class="txt-primary uk-heading-small uk-text-uppercase uk-text-center"
        >
          Privacy Policy
        </h1>
        <hr class="" />
        <p class="txt-white">
          At aptitudestudios.in, accessible from http://aptitudestudios.in/, one
          of our main priorities is the privacy of our visitors. This Privacy
          Policy document contains types of information that is collected and
          recorded by aptitudestudios.in and how we use it.
        </p>
        <p class="txt-white">
          If you have additional questions or require more information about our
          Privacy Policy, do not hesitate to contact us.
        </p>
        <p class="txt-white">
          This Privacy Policy applies only to our online activities and is valid
          for visitors to our website with regards to the information that they
          shared and/or collect in aptitudestudios.in. This policy is not
          applicable to any information collected offline or via channels other
          than this website.
        </p>
      </div>
      <div class="uk-margin-medium-top">
        <h2 class="uk-text-uppercase txt-white">Consent</h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          By using our website, you hereby consent to our Privacy Policy and
          agree to its terms.
        </p>
      </div>
      <div class="uk-margin-large-top">
        <h2 class="uk-text-uppercase txt-white">Information We Collect</h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          The personal information that you are asked to provide, and the
          reasons why you are asked to provide it, will be made clear to you at
          the point we ask you to provide your personal information.
        </p>
        <p class="txt-white">
          If you contact us directly, we may receive additional information
          about you such as your name, email address, phone number, the contents
          of the message and/or attachments you may send us, and any other
          information you may choose to provide.
        </p>
        <p class="txt-white">
          When you register for an Account, we may ask for your contact
          information, including items such as name, company name, address,
          email address, and telephone number.
        </p>
        <p class="txt-white">
          Information collected through our Titles, and information provided to
          us by advertising and analytics partners:
        </p>
        <p class="txt-white">Identifiers:</p>
        <ul
          class="uk-list uk-margin-top txt-white"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: li; delay: 200; "
        >
          <li>
            🔶 Advertising ID – Advertising ID refers to the Google Advertising
            ID (“GAID“) on Android devices, or ID for Advertising (“IDFA“) on
            iOS devices. The Advertising ID is a resettable persistent
            identifier generated by Android or iOS that allows online
            advertising companies to recognize a device across apps, for
            advertising purposes. Additional information about how to limit our
            use of the Advertising ID can be found under “How to Control
            Information”.
          </li>
          <li>🔶 IP address of the device.</li>
          <li>
            🔶 A unique ID generated by our advertising partners to recognize a
            device in a specific Title.
          </li>
          <li>🔶 ID of a device which is unique only to our Titles.</li>
        </ul>
        <p class="txt-white">
          General technical information about a device – Technical information
          such as:
        </p>
        <ul
          class="uk-list uk-margin-top txt-white"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: li; delay: 200; "
        >
          <li>
            🔶 The device type and language, operating system name and version.
          </li>
          <li>🔶 The device’s time zone.</li>
          <li>🔶 The amount of free memory on the device.</li>
          <li>🔶 The name and version of the Title.</li>
          <li>🔶 Battery status.</li>
          <li>🔶 The name of the mobile carrier.</li>
          <li>🔶 The device’s internet connection type (e.g., Wi-Fi).</li>
        </ul>
        <p class="txt-white">
          Activity in connection with the Title: Transactions and in-app
          purchases made in the Title, progress or movement in the Title, and
          in-game events. Information received from advertising and analytics
          partners:
        </p>
        <ul
          class="uk-list uk-margin-top txt-white"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: li; delay: 200; "
        >
          <li>
            🔶 Campaign information – An indication if an ad of a Title was
            viewed or clicked.
          </li>
          <li>
            🔶 The total amount of revenues received as a result of advertising
            served to a specific device.
          </li>
        </ul>
      </div>
      <div class="uk-margin-large-top">
        <h2 class="uk-text-uppercase txt-white">
          How We Use the Information We Collect
        </h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          We use the information we collect mainly to provide services to
          players of our Titles. In addition, we use the information for the
          following purposes:
        </p>
        <ul
          class="uk-list uk-margin-top txt-white"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: li; delay: 200; "
        >
          <li>
            🔶 To improve and optimize the Titles and our players’ experiences
          </li>
          <li>
            🔶 To provide players with information about our Titles, including
            in-game updates, new Titles, and promotional offers
          </li>
          <li>🔶 To provide technical support</li>
          <li>🔶 To protect the safety and well-being of our players</li>
          <li>
            🔶 To protect Aptitude Studio’s rights and property in connection
            with the Titles
          </li>
          <li>🔶 To prevent fraud or potentially illegal activities</li>
          <li>
            🔶 To manage and deliver advertising, including for the purpose of
            analytics, measuring the effectiveness of ads, limiting the number
            of ads served, generating aggregated reports, and attribution
          </li>
          <li>
            🔶 To administer rewards, or other promotional activities or events
            sponsored or managed by us or our business partners
          </li>
          <li>
            🔶 To conduct marketing campaigns across our advertising and
            marketing partners, including campaigns that use audience lists
            created based on player interactions with the Titles
          </li>
          <li>
            🔶 To comply with our legal obligations, resolve any disputes we may
            have with players, and to enforce our agreements with third parties
          </li>
          <li>🔶 To conduct research</li>
        </ul>
        <p class="txt-white">The GDPR Angle:</p>
        <p class="txt-white">
          Under the GDPR, we rely on the following legal basis for the
          processing of personal data:
        </p>
        <ul
          class="uk-list uk-margin-top txt-white"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: li; delay: 200; "
        >
          <li>
            🔶 We process personal data for providing services to players of our
            Titles for the performance of our contract with them.
          </li>
          <li>
            🔶 We process personal data for the purposes of preventing fraud or
            potentially illegal activities, protecting our rights and property,
            serving advertising (except for personalized advertising),
            conducting marketing campaigns (except for audience lists based
            campaigns), improving and optimizing the Titles, providing
            information and promotional offers to players of our titles,
            administering rewards and conducting research, based on our
            legitimate interests.
          </li>
          <li>
            🔶 We, or our advertising partners, may process personal data for
            the purpose of serving personalized advertising, game usage
            analytics, or conducting marketing campaigns based on audience lists
            and creating such audience lists, if we, or our advertising
            partners, obtained that player’s consent.
          </li>
          <li>
            🔶 We may also process your personal data for compliance with
            applicable legal obligations.
          </li>
        </ul>
        <p class="txt-white">Maximum Information Retention Period:</p>
        <p class="txt-white">
          We store information for as long as is reasonably necessary for the
          purposes for which it was collected, as explained in this privacy
          policy, for a maximum period of one year from its collection. In some
          circumstances we may store information for longer periods of time, for
          instance when the information is required for us to establish or
          exercise our rights or to defend against legal claims.
        </p>
        <p class="txt-white">How We Share Information:</p>
        <ul
          class="uk-list uk-margin-top txt-white"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: li; delay: 200; "
        >
          <li>
            🔶 Other advertising partners – for the purpose of receiving, or
            delivering, advertising campaigns from such advertising partners.
          </li>
          <li>
            🔶 Our corporate affiliates – from which we receive services, such
            as IT, security, storage, and other internal operations.
          </li>
          <li>🔶 Advertisers – for the purposes of attribution.</li>
          <li>
            🔶 Analytics partners – for the purpose of receiving analytics
            services.
          </li>
          <li>
            🔶 Service providers – We share your information with our service
            providers for the purpose of receiving services such as fraud
            detection and prevention, analytics, reporting, and storage.
          </li>
        </ul>
        <p class="txt-white">
          We may also disclose information if we have a good faith belief that
          disclosure of such information is reasonably necessary to:
        </p>
        <ul
          class="uk-list uk-margin-top txt-white"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: li; delay: 200; "
        >
          <li>
            🔶 Comply with any applicable law, regulation, legal process or
            governmental request.
          </li>
          <li>
            🔶 Enforce our agreements and policies, including investigations of
            potential violations thereof.
          </li>
          <li>
            🔶 Investigate, detect, prevent, or take action regarding illegal
            activities or other wrongdoing, suspected fraud or security issues.
          </li>
          <li>
            🔶 Establish or exercise our rights to defend against legal claims.
          </li>
          <li>
            🔶 Prevent harm to the rights, property or safety of us, our users,
            yourself or any third party.
          </li>
          <li>
            🔶 Collaborate with law enforcement agencies or in case we find it
            necessary to enforce intellectual property or other legal rights.
          </li>
          <li>
            🔶 When we are undergoing any potential or actual change in control,
            including by means of merger, acquisition, or purchase of all or
            substantially all of our assets.
          </li>
        </ul>
        <p class="txt-white">How to Control Information:</p>
        <p class="txt-white">
          Collection of device data – Updated versions of iOS, and Android,
          enable you to control how apps can collect the Advertising ID. Please
          follow the below instructions:
        </p>
        <p class="txt-white">
          IOS devices (iOS 14+): go to Settings > Privacy > Tracking > Allow
          Apps to Request to Track. Please note that if you use more than one
          device, you need to opt-out separately in each device
        </p>
        <p class="txt-white">
          Android devices: Please follow the instructions set forth at:
          https://support.google.com/ads/answer/1660762 (under Mobile Controls).
          Please note that if you use more than one device, you need to opt-out
          separately in each device.
        </p>
        <p class="txt-white">The GDPR Angle:</p>
        <ul
          class="uk-list uk-margin-top txt-white"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: li; delay: 200; "
        >
          <li>
            🔶 Withdraw consent – You have the right to withdraw the consent you
            provided to us from within each of our Titles (this will affect only
            our processing within the specific Title), or by following the
            instructions above on how to control collection of device data (this
            will affect our processing of data in all our Titles on your
            device).
          </li>
          <li>
            🔶 Data subject rights – Please note that you have the right to
            request from us access to and rectification or erasure of your
            personal data we process as controllers, or to restrict or to object
            to processing of your personal data in accordance with the
            provisions of the GDPR. To submit a request for exercising your
            rights, please send an email with your request to the following
            address: info@aptitudestudios.in. Please note that we will process
            your request subject to verification of your identity.
          </li>
          <li>
            🔶 Complaint to supervisory authority– You also have the right to
            file a complaint with the relevant supervisory authority (e.g., of
            your country or domicile) where Aptitude Studios has not addressed
            your concerns.
          </li>
        </ul>
        <p class="txt-white">
          We use the information we collect in various ways, including to:
        </p>
        <ul
          class="uk-list uk-margin-top txt-white"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: li; delay: 200; "
        >
          <li>🔶 Provide, Operate, and Maintain our website</li>
          <li>🔶 Improve, Personlaize, and Expand our website</li>
          <li>🔶 Understand and analyze how you use our website</li>
          <li>
            🔶 Develop new products, services, features, and functionality
          </li>
          <li>
            🔶 Communicate with you, either directly or through oneof our
            partners, including for customer service, to provide you wiht
            updates and other information relating to the website, and for
            marketing and promotional purposes
          </li>
          <li>🔶 Send you emails</li>
          <li>🔶 Find and prevent fraud</li>
        </ul>
      </div>
      <div class="uk-margin-large-top">
        <h2 class="uk-text-uppercase txt-white">Log Files</h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          aptitudestudios.in follows a standard procedure of using log files.
          These files log visitors when they visit websites. All hosting
          companies do this and a part of hosting services' analytics. The
          information collected by log files include internet protocol (IP)
          addresses, browser type, Internet Service Provider (ISP), date and
          time stamp, referring/exit pages, and possibly the number of clicks.
          These are not linked to any information that is personally
          identifiable. The purpose of the information is for analyzing trends,
          administering the site, tracking users' movement on the website, and
          gathering demographic information.
        </p>
      </div>
      <div class="uk-margin-large-top">
        <h2 class="uk-text-uppercase txt-white">Cookies and Web Beacons</h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          Like any other website, aptitudestudios.in uses 'cookies'. These
          cookies are used to store information including visitors' preferences,
          and the pages on the website that the visitor accessed or visited. The
          information is used to optimize the users' experience by customizing
          our web page content based on visitors' browser type and/or other
          information.
        </p>
      </div>
      <div class="uk-margin-large-top">
        <h2 class="uk-text-uppercase txt-white">
          Advertising Partners Privacy Policies
        </h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          You may consult this list to find the Privacy Policy for each of the
          advertising partners of aptitudestudios.in.
        </p>
        <p class="txt-white">
          Third-party ad servers or ad networks uses technologies like cookies,
          JavaScript, or Web Beacons that are used in their respective
          advertisements and links that appear on aptitudestudios.in, which are
          sent directly to users' browser. They automatically receive your IP
          address when this occurs. These technologies are used to measure the
          effectiveness of their advertising campaigns and/or to personalize the
          advertising content that you see on websites that you visit.
        </p>
        <p class="txt-white">
          Note that aptitudestudios.in has no access to or control over these
          cookies that are used by third-party advertisers.
        </p>
      </div>
      <div class="uk-margin-large-top">
        <h2 class="uk-text-uppercase txt-white">
          Third Party Privacy Policies
        </h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          aptitudestudios.in's Privacy Policy apply to other advertisers or
          websites. Thus, we are advising you to consult the respective Privacy
          Policies of these third-party ad servers for more detailed
          information. It may include their practices and instructions about how
          to opt-out of certain options.
        </p>
        <p class="txt-white">
          You can choose to disable cookies through your individual browser
          options. To know more detailed information about cookie management
          with specific web browsers, it can be found at the browsers'
          respective websites.
        </p>
      </div>
      <div class="uk-margin-large-top">
        <h2 class="uk-text-uppercase txt-white">
          CCPA Privacy Rights (Do Not Sell My Personal Information)
        </h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          Under the CCPA, among other rights, California consumers have the
          right to:
        </p>
        <ul
          class="uk-list txt-white"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: li; delay: 200; "
        >
          <li>
            🔶 Request that a business that collects a consumer's personal data
            disclose the categories and specific pieces of personal data that a
            business has collected about consumers.
          </li>
          <li>
            🔶 Request that a business delete any personal data about the
            consumer that a business has collected.
          </li>
          <li>
            🔶 Request that a business that sells a consumer's personal data,
            not sell the consumer's personal data.
          </li>
          <li>
            🔶 If you make a request, we have one month to respond to you. If
            you would like to exercise any of these rights, please contact us.
          </li>
        </ul>
      </div>
      <div class="uk-margin-large-top">
        <h2 class="uk-text-uppercase txt-white">GDPR Data Production Rights</h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          We would like to make sure you are fully aware of all of your data
          protection rights. Every user is entitled to the following:
        </p>
        <ul
          class="uk-margin-top uk-list txt-white"
          uk-scrollspy="cls: uk-animation-slide-left-small; target: li; delay: 200; "
        >
          <li>
            🔶 The right to access – You have the right to request copies of
            your personal data. We may charge you a small fee for this service.
          </li>
          <li>
            🔶 The right to rectification – You have the right to request that
            we correct any information you believe is inaccurate. You also have
            the right to request that we complete the information you believe is
            incomplete.
          </li>
          <li>
            🔶 The right to erasure – You have the right to request that we
            erase your personal data, under certain conditions.
          </li>
          <li>
            🔶 The right to restrict processing – You have the right to request
            that we restrict the processing of your personal data, under certain
            conditions.
          </li>
          <li>
            🔶 The right to object to processing – You have the right to object
            to our processing of your personal data, under certain conditions.
          </li>
          <li>
            🔶 The right to data portability – You have the right to request
            that we transfer the data that we have collected to another
            organization, or directly to you, under certain conditions.
          </li>
          <li>
            🔶 If you make a request, we have one month to respond to you. If
            you would like to exercise any of these rights, please contact us.
          </li>
        </ul>
      </div>
      <div class="uk-margin-large-top">
        <h2 class="uk-text-uppercase txt-white">Children's Information</h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          Another part of our priority is adding protection for children while
          using the internet. We encourage parents and guardians to observe,
          participate in, and/or monitor and guide their online activity.
        </p>
        <p class="txt-white">
          aptitudestudios.in does not knowingly collect any Personal
          Identifiable Information from children under the age of 13. If you
          think that your child provided this kind of information on our
          website, we strongly encourage you to contact us immediately and we
          will do our best efforts to promptly remove such information from our
          records.
        </p>
      </div>
      <div class="uk-margin-large-top uk-text-center">
        <hr />
        <p class="txt-white uk-text-bold">
          For any other Enquires kindly reach us on:
          <span
            ><a href="mailto:info@aptitudestudio.in"
              >info@aptitudestudios.in</a
            ></span
          >
        </p>
      </div>
    </div>
  </div>
</div>
