<div
  class="uk-margin-top custom-bg-overlay"
  id="fantasy-sports"
>
  <div class="uk-section">
    <div class="uk-container"  uk-scrollspy="cls:  uk-animation-slide-bottom; target: h3, hr, p; delay: 200">
      <div class="">
        <h2 class="uk-text-uppercase uk-text-bold txt-white">
          Matchmaking & Leader boards
        </h2>
        <hr class="uk-divider-small " />
        <p class="txt-white">
          Offer fair and competitive play with AI-driven matchmaking and global leader boards. Keep your players engaged with ranking systems, performance stats, and rewards.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Standard spacing for consistent footer position -->
<div style="height: 150px;"></div>
