<div class="uk-section custom-section-bg" uk-height-viewport>
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-body uk-padding-large custom-card-design">
            <div class="uk-child-width-1-2@s" uk-grid>
                <div class="" uk-scrollspy="cls: uk-animation-slide-left-small; target: h1, h3, li, button; delay: 100; ">
                    <div>
                        <h1 class="uk-heading-small font-family">Web Development</h1>
                        <h3 class="uk-h4 font-family uk-margin-small-top">Aptitude Studios provides various ranges of
                            services in the field of website designing and development. Our web development team that
                            includes intranet, portals, and business applications. We have perfect user activities and
                            moulded our web development work with best practices. This makes our web development
                            programs the most competitive across the solutions.We have successfully delivered our
                            services to businesses world-wide, facing the technological advancements and providing
                            clients with latest Internet solutions.</h3>
                    </div>
                    <div class="uk-margin-medium-top">
                        <h1 class="uk-h2 font-family">Various steps involved in web development</h1>
                        <ul class="uk-list uk-list-disc">
                            <li class="uk-h4 font-family">Web Design</li>
                            <li class="uk-h4 font-family">Website Development</li>
                            <li class="uk-h4 font-family">Graphic / Logo Design</li>
                            <li class="uk-h4 font-family">Flash Website Design</li>
                            <li class="uk-h4 font-family">Search Engine Optimization</li>
                            <li class="uk-h4 font-family">Online Marketing Services</li>
                            <li class="uk-h4 font-family">Web Hosting</li>
                        </ul>
                    </div>
                    <div class="uk-margin-medium-top">
                        <button class="uk-button uk-button-primary uk-text-capitalize">
                            Send Request
                        </button>
                    </div>
                </div>
                <div class="" uk-scrollspy="cls: uk-animation-fade; target: img; delay: 200; ">
                    <img src="/assets/images/CasinoCards/website-dev.png">
                </div>
            </div>
        </div>
    </div>
</div>