<div class="uk-section" id="play2earn-games">
    <div class="uk-container">
      <div class="uk-child-width-1-2@m uk-margin" uk-grid>
        <div
          class="txt-white"
          uk-scrollspy="cls: uk-animation-slide-bottom-small; target: h2, hr,p; delay: 200; "
        >
          <h2 class="uk-text-bold uk-text-uppercase txt-white">
            Play2Earn Game Development (Blockchain)
          </h2>
          <hr class="uk-divider-small" />
          <p>
            We have blockchain game development specialists, who are willing to
            offer NFT games as well as art for those games. They continue to keep
            up with the trends and ensure that you get the best Play2Earn game
            development experience. The Play2Earn games we develop surely stand
            out from the rest, and we guarantee that they will be able to attract
            a large number of players.
          </p>
          <p>
            Play2Earn games are quite popular among people out there as they use
            the Blockchain technology. It provides players the chance to own
            in-game assets. All the in-game assets in the games would be linked
            with unique identifiers. These games are providing a great opportunity
            for the players to earn money and assets on the blockchain while
            playing. On top of that, these games have one of the most active and
            strongest communities as well.
          </p>
          <p>
            Our team offers Play2Earn game development services from the scratch.
            Alongside game development, we will be offering many other services to
            you, such as creating art, offering support and maintenance, and
            testing the game.
          </p>
          <p>
            Whether you need help with developing a game concept, or full-cycle
            game development, you can connect with our specialists. We have the
            best concept artists working with us.
          </p>
        </div>
        <div
          class="uk-margin-auto-vertical"
          uk-scrollspy="cls: animate__animated animate__jackInTheBox; target: img; delay: 300; "
        >
          <img
            class="uk-padding"
            src="/assets/images/Games/Banner_4.png"
            alt="casinoGames"
          />
        </div>
      </div>
    </div>
  </div>
