<!-- Metahuman Developments Start -->
<div class="" id="metahumans-dev">
    <div class="uk-section">
      <div class="uk-container">
        <div class="uk-text-center">
          <h2 class="uk-text-uppercase txt-white">Metahuman Developments</h2>
          <hr class="uk-divider-small" />
          <p class="txt-white">
            MetaHuman is a comprehensive framework, which provides creators with
            the ability to create their own human characters. There are unlimited
            number of possibilities to customize humans in the MetaHuman
            framework. It also provides access to a free app, which helps the
            creators with creating photorealistic and rigged digital humans within
            a matter of few minutes. If you want specialist assistance with
            creating Meta Humans, you can seek our assistance.
          </p>
        </div>
        <div class="" uk-scrollspy="cls: uk-animation-slide-bottom-small; target: .uk-card; delay: 200">
          <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                <img alt="facial-rendering" src="/assets/images/metaverse_metahuman/facial_rendering.png"/>
                <h3 class="uk-text-bold">Facial Rendering</h3>
                <p>
                  We will be able to create realistic faces for characters on the
                  MetaHuman space. Our developers will pay attention to detail and
                  harness the most out of available technologies. At the time of
                  facial rendering, we will be paying attention to geometric
                  properties, reflectance properties and many other additional
                  information. As a result, we end up with creating highly
                  realistic human faces on the MetaHuman space.
                </p>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                <img alt="facial-rendering" src="/assets/images/metaverse_metahuman/motion_capture.png"/>
                <h3 class="uk-text-bold">Motion Capture</h3>
                <p>
                  Our developers are also capable of capturing motions of humans
                  in the real world and equipping characters in MetaHuman space
                  with the same. This will help you to create realistic characters
                  on MetaHuman space at the end of the day.
                </p>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                <img alt="facial-rendering" src="/assets/images/metaverse_metahuman/3d_modal.png"/>
                <h3 class="uk-text-bold">3D body rendering and Models</h3>
                <p>
                  You can count on us for 3D body rendering and model creation on
                  the MetaHuman space as well. Our creative artists and developers
                  will pay attention to detail, and make sure that you end up with
                  getting amazing results at the end of the day.
                </p>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                <img alt="facial-rendering" src="/assets/images/metaverse_metahuman/highend_game.png"/>
                <h3 class="uk-text-bold">We develop for Film Industry and High-End Games</h3>
                <p>
                  We are capable of developing realistic-looking characters for
                  the film industry and high-end games. Just let us know your
                  requirement in detail, and we will be able to cater to it
                  accordingly with outstanding results.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Metahuman Developments End -->
