.uk-input,
.uk-select,
.uk-textarea {
  max-width: 100%;
  width: 100%;
  border: 0 none;
  padding: 0 10px;
  background: #fff;
  color: #666;
  border-bottom: 1px solid #e5e5e5;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}
.custom-section-bg {
  background: linear-gradient(
    111.68deg,
    #23041f 21.4%,
    #360a23 122.16%
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.custom-error-bg {
  width: max-content;
  background: linear-gradient(
    111.68deg,
    #790623 21.4%,
  ) !important;
  border-radius: 8px; /* adds rounded corners */
  padding: 12px 16px; /* top-bottom: 12px, left-right: 16px */
}

.custom-card-design {
  border-radius: 31px;
}
.custom-font {
  font-family: "Montserrat";
}
.custom-bg-overlay {
  background-color: rgb(0, 0, 0, 0.1);
}
