<div class="uk-margin-top-small" id="payment-gateway">
    <div class="uk-section">
      <div class="uk-container" uk-scrollspy="cls: animate__animated animate__jello; target: .uk-card; delay: 300">
        <div
          class="uk-child-width-1-3@m uk-margin uk-grid-match"
          uk-grid
        >
          <div>
            <div
              class="uk-card uk-card-body custom-bg-overlay"
            >
              <h3 class="uk-text-uppercase uk-text-bold txt-white uk-text-center ">
                Live Streaming & API Integrations
              </h3>
              <hr class="uk-divider-small uk-text-center" />
              <p class="txt-white">
                Boost fan engagement by integrating popular streaming services like Twitch, YouTube, and Discord. Add interactive features such as live chats, highlights, and replays for maximum user retention.
              </p>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>

<!-- Standard spacing for consistent footer position -->
<div style="height: 150px;"></div>
