<div class="uk-section" id="multiplayer-games">
    <div class="uk-container">
      <div class="uk-child-width-1-2@m uk-margin" uk-grid>
        <div
          class="txt-white"
          uk-scrollspy="cls: uk-animation-slide-bottom-small; target: h2, hr,p; delay: 200; "
        >
          <h2 class="uk-text-bold uk-text-uppercase txt-white">
            Multiplayer Games
          </h2>
          <hr class="uk-divider-small" />
          <p>
            Multiplayer games are trending among players all around the world.
            Instead of gaming with a machine, people love to compete with each
            other. If you want to develop a new game, you can make it a
            multiplayer game, and you will surely be able to ensure amazing
            results. We are there to help you with all your multiplayer game
            development needs.
          </p>
          <p>
            We know how to help you with developing realistic, immersive, and
            fascinating multiplayer games. Throughout the game development
            project, we will continue to maintain a strong relationship with you.
            This will help you to understand more about your needs and the
            preferences of players. As a result, you can expect to receive
            exceptional results out of our multiplayer game development services.
          </p>
        </div>
        <div
          class="uk-margin-auto-vertical"
          uk-scrollspy="cls: animate__animated animate__jackInTheBox; target: img; delay: 300; "
        >
          <img
            class="uk-padding"
            src="/assets/images/Games/Banner_6.png"
            alt="casinoGames"
          />
        </div>
      </div>
    </div>
  </div>
