<div class="uk-section">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div
        class="uk-text-center uk-margin"
        uk-scrollspy="cls: animate__animated animate__rollIn; target: img; delay: 300; "
      >
        <img
          width="550"
          height="550"
          src="/assets/images/Games/Game-Development_Image.png"
          alt="Gaming_image"
        />
      </div>
      <div
        class="uk-margin-auto-vertical"
        uk-scrollspy="cls: uk-animation-slide-right-small; target: h2, p, button; delay: 200; "
      >
        <h1 class="uk-text-bold txt-white uk-text-uppercase">
          Game Development
        </h1>
        <p class="txt-white">
          We specialize in game development. Whether you are looking for
          multiplayer games, hyper-casual games, AR/VR games, or even games in
          the Metaverse, we can help. We adhere to latest gaming development
          technologies available out there like Unity and Unreal to offer our
          game development services.
        </p>
        <button
          class="uk-button uk-button-primary uk-border-rounded uk-margin-top"
        >
          Contact Us
        </button>
      </div>
    </div>
  </div>
</div>
<div class="uk-section" id="unity-games">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m uk-margin" uk-grid>
      <div
        class="uk-margin-auto-vertical"
        uk-scrollspy="cls: animate__animated animate__jackInTheBox; target: img; delay: 300; "
      >
        <img
          class="uk-padding"
          src="/assets/images/Games/Banner_1.png"
          alt="casinoGames"
        />
      </div>
      <div
        class="txt-white"
        uk-scrollspy="cls: uk-animation-slide-bottom-small; target: h2, hr,p; delay: 200; "
      >
        <h2 class="uk-text-bold uk-text-uppercase txt-white">
          Unity Games Development
        </h2>
        <hr class="uk-divider-small" />
        <p>
          We have a team of Unity programmers, who can help you with getting
          top-notch Unity game development services. The games we develop are
          ideal for multiple platforms, such as Web, PC, Mobile, and AR/VR.
        </p>
        <p>
          Unity is one of the most popular 2D & 3D game development engines that
          you can find out there. It helps you to get attractive lighting,
          graphical, and even asset management tools for developing games. We
          can also help you with creating real-time content that is compatible
          for all devices with Unity game engine.
        </p>
        <p>
          Whether you are planning to develop a AR/VR game, mobile game, or a
          high-end video game with interactive 3D elements, our Unity game
          developers are ready to accept the challenge. We are ready to develop
          the bridge in between your idea and gamer experience through our Unity
          game development services.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-section" id="ar-vr-games">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m uk-margin" uk-grid>
      <div
        class="txt-white"
        uk-scrollspy="cls: uk-animation-slide-bottom-small; target: h2, hr,p; delay: 200; "
      >
        <h2 class="uk-text-bold uk-text-uppercase txt-white">
          AR & VR Game Development
        </h2>
        <hr class="uk-divider-small" />
        <p>
          Do you want to develop highly realistic games that can deliver an
          immersive experience to players? Then you should take a look at the AR
          & VR game development services we offer. Our AR/VR game development
          services can help you with developing highly appealing games.
        </p>
        <p>
          All you have to do is to bring your innovative idea, and we offer
          fully-cycle AR & VR game development services to bring the idea to
          life. The game guarantees to deliver an immersive experience to your
          players.
        </p>
        <p>
          There is a massive demand for AR & VR games out there, as people are
          interested in seeing digital characters superimposed with the physical
          world. In other words, these games merge the physical world with
          virtual world, and deliver stunning visualizations to players. We are
          ready to accept the challenge and help you with getting a perfect
          AR/VR game at the end of the day.
        </p>
      </div>
      <div
        class="uk-margin-auto-vertical"
        uk-scrollspy="cls: animate__animated animate__jackInTheBox; target: img; delay: 300; "
      >
        <img
          class="uk-padding"
          src="/assets/images/Games/Banner_2.png"
          alt="casinoGames"
        />
      </div>
    </div>
  </div>
</div>
<div class="uk-section" id="unreal-games">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m uk-margin" uk-grid>
      <div
        class="uk-margin-auto-vertical"
        uk-scrollspy="cls: animate__animated animate__jackInTheBox; target: img; delay: 300; "
      >
        <img
          class="uk-padding"
          src="/assets/images/Games/Banner_3.png"
          alt="casinoGames"
        />
      </div>
      <div
        class="txt-white"
        uk-scrollspy="cls: uk-animation-slide-bottom-small; target: h2, hr,p; delay: 200; "
      >
        <h2 class="uk-text-bold uk-text-uppercase txt-white">
          Unreal Game Engine
        </h2>
        <hr class="uk-divider-small" />
        <p>
          Unreal is among the best platforms available for you to develop games.
          You can use Unreal to develop realistic looking games that are
          compatible with different platforms such as desktop, mobile, AR/VR,
          and web.
        </p>
        <p>
          If you have plans to develop a new game with Unreal engine, you just
          need to connect with us. We have a team of specialist Unreal game
          developers. They are willing to help you with getting the best
          possible Unreal game development services.
        </p>
        <p>
          We offer end-to-end Unreal game development services. All the services
          are customer-driven. Just share your idea, and we will be able to help
          you with transforming that into a self-contained game. No matter how
          big or complex your idea is, we are ready to code that into a game
          that players would love.
        </p>
        <p>
          You may even get in touch with us if you want to port an existing game
          to Unreal engine. This will help you to take your game to a whole new
          level and get more people attracted to it.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-section" id="play2earn-games">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m uk-margin" uk-grid>
      <div
        class="txt-white"
        uk-scrollspy="cls: uk-animation-slide-bottom-small; target: h2, hr,p; delay: 200; "
      >
        <h2 class="uk-text-bold uk-text-uppercase txt-white">
          Play2Earn Game Development (Blockchain)
        </h2>
        <hr class="uk-divider-small" />
        <p>
          We have blockchain game development specialists, who are willing to
          offer NFT games as well as art for those games. They continue to keep
          up with the trends and ensure that you get the best Play2Earn game
          development experience. The Play2Earn games we develop surely stand
          out from the rest, and we guarantee that they will be able to attract
          a large number of players.
        </p>
        <p>
          Play2Earn games are quite popular among people out there as they use
          the Blockchain technology. It provides players the chance to own
          in-game assets. All the in-game assets in the games would be linked
          with unique identifiers. These games are providing a great opportunity
          for the players to earn money and assets on the blockchain while
          playing. On top of that, these games have one of the most active and
          strongest communities as well.
        </p>
        <p>
          Our team offers Play2Earn game development services from the scratch.
          Alongside game development, we will be offering many other services to
          you, such as creating art, offering support and maintenance, and
          testing the game.
        </p>
        <p>
          Whether you need help with developing a game concept, or full-cycle
          game development, you can connect with our specialists. We have the
          best concept artists working with us.
        </p>
      </div>
      <div
        class="uk-margin-auto-vertical"
        uk-scrollspy="cls: animate__animated animate__jackInTheBox; target: img; delay: 300; "
      >
        <img
          class="uk-padding"
          src="/assets/images/Games/Banner_4.png"
          alt="casinoGames"
        />
      </div>
    </div>
  </div>
</div>
<div class="uk-section" id="metaverse-games">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m uk-margin" uk-grid>
      <div
        class="uk-margin-auto-vertical"
        uk-scrollspy="cls: animate__animated animate__jackInTheBox; target: img; delay: 300; "
      >
        <img
          class="uk-padding"
          src="/assets/images/Games/Banner_5.png"
          alt="casinoGames"
        />
      </div>
      <div
        class="txt-white"
        uk-scrollspy="cls: uk-animation-slide-bottom-small; target: h2, hr,p; delay: 200; "
      >
        <h2 class="uk-text-bold uk-text-uppercase txt-white">
          Metaverse Game Development (Blockchain)
        </h2>
        <hr class="uk-divider-small" />
        <p>
          The interest among people in Blockchain and Metaverse is growing along
          with time. As a result, we can see how a large number of industries
          are looking forward to delivering ingenious solutions to people. You
          can develop innovative games around the concept of Metaverse. Then you
          can continue to create content and expand the Metaverse through your
          games. We can help you with that.
        </p>
        <p>
          At Aptitude Studios, you can find a team of skilled and experienced
          Metaverse game developers. They are capable of creating the most
          immersive games in the world of Metaverse. We will be using the latest
          available technologies and tools to create games in the Metaverse,
          which spam across multiple platforms. On top of that, these games
          would offer a variety of features and interactions, which the players
          would love.
        </p>
        <p>
          We are ready to offer end-to-end Metaverse game development services.
          Along with the Metaverse games, you will be getting Metaverse
          applications, Metaverse marketplaces, NFT collections, 2D/3D art,
          integration services, and many more. Even if you need help with
          concept development for Metaverse games, we are there to help.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-section" id="multiplayer-games">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m uk-margin" uk-grid>
      <div
        class="txt-white"
        uk-scrollspy="cls: uk-animation-slide-bottom-small; target: h2, hr,p; delay: 200; "
      >
        <h2 class="uk-text-bold uk-text-uppercase txt-white">
          Multiplayer Games
        </h2>
        <hr class="uk-divider-small" />
        <p>
          Multiplayer games are trending among players all around the world.
          Instead of gaming with a machine, people love to compete with each
          other. If you want to develop a new game, you can make it a
          multiplayer game, and you will surely be able to ensure amazing
          results. We are there to help you with all your multiplayer game
          development needs.
        </p>
        <p>
          We know how to help you with developing realistic, immersive, and
          fascinating multiplayer games. Throughout the game development
          project, we will continue to maintain a strong relationship with you.
          This will help you to understand more about your needs and the
          preferences of players. As a result, you can expect to receive
          exceptional results out of our multiplayer game development services.
        </p>
      </div>
      <div
        class="uk-margin-auto-vertical"
        uk-scrollspy="cls: animate__animated animate__jackInTheBox; target: img; delay: 300; "
      >
        <img
          class="uk-padding"
          src="/assets/images/Games/Banner_6.png"
          alt="casinoGames"
        />
      </div>
    </div>
  </div>
</div>
<!-- Technologies Section Start-->
<div class="uk-container">
  <div class="uk-text-center">
    <h2 class="txt-white uk-text-uppercase">Technologies</h2>
    <hr class="uk-divider-small" />
  </div>
  <div
    class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2 uk-flex-center uk-text-center"
    uk-grid
    uk-scrollspy="cls: uk-animation-slide-up; target: img, p; delay: 100; "
  >
    <div>
      <div class="">
        <img alt="games" width="68" height="68" class="tech-img" src="assets/images/app-dev/games.png" />
        <p class="uk-text-bold txt-white">2D/3D Game Design</p>
      </div>
    </div>
    <div>
      <div class="">
        <img
          alt="unity"
          class="tech-img"
          src="assets/images/app-dev/unity.png"
          width="68"
          height="68"
        />
        <p class="uk-text-bold txt-white">Unity 3D</p>
      </div>
    </div>
    <div>
      <div class="">
        <img
        alt="unreal-engine"
          class="tech-img"
          src="assets/images/app-dev/unreal-engine.png"
          width="68"
          height="68"
        />
        <p class="uk-text-bold txt-white">Unreal Engine</p>
      </div>
    </div>
    <div>
      <div class="">
        <img
        alt="smartfoxserver"
          class="tech-img"
          src="assets/images/app-dev/smartforserver.png"
          width="68"
          height="68"
        />
        <p class="uk-text-bold txt-white">Smart Fox Server (SFS)</p>
      </div>
    </div>
    <div>
      <div class="">
        <img alt="photon"
        width="68"
        height="68" class="tech-img" src="assets/images/app-dev/photon.png" />
        <p class="uk-text-bold txt-white">Photon Server</p>
      </div>
    </div>
  </div>
</div>

<!-- Technologies Section End -->
