<div class="custom-bg-overlay" id="languages">
    <div class="uk-section">
      <div class="uk-container">
        <div class="">
          <h2 class="uk-text-uppercase txt-white uk-margin-remove-bottom">
            Languages
          </h2>
          <hr class="uk-divider-small" />
          <p class="txt-white">
            Our Web 3.0 developers are familiar with all prominent programming
            languages used for programming.
          </p>
        </div>
        <div class="uk-child-width-1-4@m uk-child-width-1-2@s uk-margin-medium-top uk-grid-divider" uk-grid
          uk-scrollspy="cls: animate__animated animate__slideInUp animate__faster; target: .custom-animation-card; delay: 200">
          <div class="uk-text-left custom-animation-card">
            <img src="/assets/images/app-dev/solidity.png" width="45" height="45" alt="2d_art" />
            <h3 class="uk-text-bold txt-white">Solidity</h3>
            <p class="txt-white">
              Solidity is a high-level, object-oriented programing language that
              can be used to implement smart contracts. We got a team of expert
              Solidity developers, who are willing to develop smart contracts and
              many other applications around them to cater your business needs.
            </p>
          </div>
          <div class="uk-text-left custom-animation-card">
            <img src="/assets/images/app-dev/rust.png" width="45" height="45" alt="2d_art" />
            <h3 class="uk-text-bold txt-white">Rust</h3>
            <p class="txt-white">
              Rust is an impressive programing language, which has the potential
              to address pain points associated with other programming languages.
              Our Rust programming specialists can help you to harness the most
              out of it and develop amazing applications.
            </p>
          </div>
          <div class="uk-text-left custom-animation-card">
            <img src="/assets/images/app-dev/haskell.png" width="45" height="45" alt="2d_art" />
            <h3 class="uk-text-bold txt-white">Haskell</h3>
            <p class="txt-white">
              Haskell is a purely function, statically-typed, and general purpose
              programming language. This programing language was specifically
              designed for research, teaching, and industrial applications. We
              have Haskell programing specialists in the team, who will help you
              with unlocking the power and capabilities that come along with it.
            </p>
          </div>
          <div class="uk-text-left custom-animation-card">
            <img src="/assets/images/app-dev/ethermint.png" width="45" height="45" alt="2d_art" />
            <h3 class="uk-text-bold txt-white">Ethermint</h3>
            <p class="txt-white">
              Ethermint programming language can help you with exploring and
              redefining the capabilities of Ethereum. The best thing about
              Ethermint is that you don’t have to port over Ethereum Virtual
              Machine into Cosmos. Get in touch with our Ethermint specialist
              developers to get all your Ethermint related developments.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
