<div class="">
  <div class="uk-section uk-section-large">
    <div class="uk-container">
      <div class="uk-child-width-1-2@s" uk-grid>
        <div
          class="uk-margin-auto-vertical"
          uk-scrollspy="cls: uk-animation-slide-left; target: h1, p, button; delay: 300"
        >
          <h1 class="uk-text-bold txt-white uk-text-uppercase">Careers</h1>
          <p class="uk-text-bold txt-white">
            Opting for a befitting career is a tough option these days. <br />
            Make your career choice count with us.
          </p>
          <div class="">
            <a routerLink="/contact-us">
              <button class="uk-button uk-button-primary">Submit Now</button>
            </a>
          </div>
        </div>
        <div
          class="uk-text-center"
          uk-scrollspy="cls: animate__animated animate__flipInY; target: img; delay:300"
        >
          <img
            alt="hero_career"
            src="/assets/images/Career.png"
            width="800"
            height="400"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-section">
  <div
    class="uk-container"
    uk-scrollspy="cls: uk-animation-slide-bottom-small ;target: .uk-card; delay: 300"
  >
    <h2 class="txt-white">Current <span class="txt-primary">Openings</span></h2>
    <hr class="" />
    <div
      class="uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-match uk-flex-center"
      uk-grid
    >
      <div class="">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
          <div class="uk-card-badge uk-label uk-border-rounded">PHP</div>
          <h5 class="uk-card-title uk-margin-top">Senior Developer</h5>
          <p>
            Have experience 6+ years. And have experience in Laravel, Core PHP.
          </p>
        </div>
      </div>
      <div class="">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
          <div class="uk-card-badge uk-label uk-border-rounded">Python</div>
          <h5 class="uk-card-title uk-margin-top">Backend Developer</h5>
          <p>
            Have experience 3+ years. Most familiar in Django framework, Python
            Language, Restful API concept.
          </p>
        </div>
      </div>
      <div class="">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
          <div class="uk-card-badge uk-label uk-border-rounded">
            React Native
          </div>
          <h5 class="uk-card-title uk-margin-top">Frontend Developer</h5>
          <p>
            Have experience 2+ years. Should have experience in the Typescript,
            ReactJs, NextJs, Angular.
          </p>
        </div>
      </div>
      <div class="">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
          <div class="uk-card-badge uk-label uk-border-rounded">
            Marketing
          </div>
          <h5 class="uk-card-title uk-margin-top">SEO and Digital Marketing</h5>
          <p>
            Have experience 1+ years.
          </p>
        </div>
      </div>
      <div class="">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
          <div class="uk-card-badge uk-label uk-border-rounded">
            Business
          </div>
          <h5 class="uk-card-title uk-margin-top">Business Developer</h5>
          <p>
            Have experience 1+ years.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="custom-bg-overlay">
  <div class="uk-section">
    <div class="uk-container uk-text-center">
      <h3 class="txt-white uk-text-bold uk-text-center">MAIL YOUR RESUME</h3>
      <a href="mailto:info@aptitudestudios.in">
        <button
          class="uk-button uk-button-default txt-white uk-text-lowercase"
          type="button"
        >
          info@aptitudestudios.in
        </button>
      </a>
    </div>
  </div>
</div>
