.custom-card-design {
  border-radius: 42px;
}
.custom-section-bg {
  background: linear-gradient(
    111.68deg,
    #23041f 21.4%,
    #360a23 122.16%
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.font-family {
  font-family: "Montserrat";
}