<div class="">
  <div class="uk-section uk-section-default">
    <div class="uk-container">
      <div class="uk-child-width-1-2@s" uk-grid>
        <div
          uk-scrollspy="cls: uk-animation-slide-left-small; target: h1, p; delay: 300"
        >
          <h1 class="uk-text-bold uk-text-uppercase  uk-text-center">
            About <span class="">Us</span>
          </h1>
          <p class="">
            We are a team of specialists, who always look forward to delivering
            innovative solutions to our clients based on latest available
            technologies. Our team loves to accept challenges and achieve
            amazing results. Just let us know your ideas, and we will continue
            to work on them with passion. All our deliveries to you will be
            filled with integrity.
          </p>
          <p class="">
            One of the best things about Aptitude Studios is that we develop a
            strong relationship with you at the beginning of every project. This
            helps us to have a clear understanding of your needs and cater to
            them accordingly. You can have a smooth and a hassle-free experience
            while working with out team of specialists.
          </p>
        </div>
        <div uk-scrollspy="cls: uk-animation-slide-right">
          <div class="">
            <img
              src="/assets/images/aboutus/about-us-hero.gif"
              width="450"
              height="450"
              alt="about-us-hero"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Mission -->
<div class="uk-section">
  <div class="uk-container">
    <h2
      class="uk-heading-medium uk-text-bold txt-white uk-margin-remove-bottom uk-text-center uk-text-uppercase"
    >
      Our Mission
    </h2>
    <div class="uk-child-width-1-2@s uk-margin-top" uk-grid>
      <div class="uk-text-center">
        <img
          class="uk-border-circle"
          width="500"
          height="500"
          src="/assets/images/aboutus/ourmission.png"
          alt="About_us"
        />
      </div>
      <div class="uk-margin-auto-vertical">
        <p class="txt-white uk-h3">
          The mission of <span class="">Aptitude Studios</span> is to
          become a trendsetter in offering
          <span class="">game</span> development and
          <span class="">Web 3.0</span> development services. We have
          a team of <span class="">experts,</span> who provide all
          the support that we need to stick to the mission.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Our Approach -->
<div class="uk-section">
  <div
    class="uk-container"
    uk-scrollspy="cls: uk-animation-fade; target: .uk-card, h2, p; delay:100; "
  >
    <h2
      class="uk-heading-medium uk-text-bold txt-white uk-margin-remove-bottom uk-text-center uk-text-uppercase"
    >
      Our Approach
    </h2>
    <p class="uk-text-center txt-white">
      We follow a well-defined approach when offering all our services.<br />
      The six main steps associated with our approach are as follows:
    </p>
    <div
      class="uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-large-top" uk-grid
    >
      <div>
        <div
          class="uk-card uk-card-default uk-card-body uk-border-rounded uk-flex uk-flex-center uk-flex-middle uk-flex-column"
        >
          <img
            src="/assets/images/aboutus/brainstorm.png"
            width="250"
            height="250"
            alt="brainstorm"
          />
          <p class="uk-h3 uk-text-bold">Brainstorming</p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-card-body uk-border-rounded uk-flex uk-flex-center uk-flex-middle uk-flex-column"
        >
          <img
            src="/assets/images/aboutus/planning.png"
            width="250"
            height="250"
            alt="planning"
          />
          <p class="uk-h3 uk-text-bold">Planning</p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-card-body uk-border-rounded uk-flex uk-flex-center uk-flex-middle uk-flex-column"
        >
          <img
            src="/assets/images/aboutus/design.png"
            width="250"
            height="250"
            alt="design"
          />
          <p class="uk-h3 uk-text-bold">Design</p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-card-body uk-border-rounded uk-flex uk-flex-center uk-flex-middle uk-flex-column"
        >
          <img
            src="/assets/images/aboutus/development.png"
            width="250"
            height="250"
            alt="development"
          />
          <p class="uk-h3 uk-text-bold">Development</p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-card-body uk-border-rounded uk-flex uk-flex-center uk-flex-middle uk-flex-column"
        >
          <img
            
            src="/assets/images/aboutus/test.png"
            width="250"
            height="250"
            alt="Testing"
          />
          <p class="uk-h3 uk-text-bold">Testing</p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-card-body uk-border-rounded uk-flex uk-flex-center uk-flex-middle uk-flex-column"
        >
          <img
            src="/assets/images/aboutus/launch.png"
            width="250"
            height="250"
            alt="Launch"
          />
          <p class="uk-h3 uk-text-bold">Launch</p>
        </div>
      </div>
    </div>
    <div class="uk-container uk-margin-medium-top">
      <p class="uk-text-center txt-white">
        No matter how big or small your project is, we will go through these
        steps and deliver the best results on your way. By adhering to these
        steps, we are capable of maintaining 100% customer satisfaction at all
        times as well.
      </p>
      <p class="uk-text-center txt-white">
        Take a look at the services we offer and get in touch to receive your
        quote!
      </p>
    </div>
  </div>
</div>
