.custom-section {
  background: linear-gradient(
    111.68deg,
    #23041f 21.4%,
    #360a23 122.16%
  ) !important;
}
.custom-heading {
    color: #FFFFFF;
    font-family: 'Poppins';
}
.custom-heading-card {
    background-color: #1c140f !important;
}