<div class="uk-section" id="unreal-games">
    <div class="uk-container">
      <div class="uk-child-width-1-2@m uk-margin" uk-grid>
        <div
          class="uk-margin-auto-vertical"
          uk-scrollspy="cls: animate__animated animate__jackInTheBox; target: img; delay: 300; "
        >
          <img
            class="uk-padding"
            src="/assets/images/Games/Banner_3.png"
            alt="casinoGames"
          />
        </div>
        <div
          class="txt-white"
          uk-scrollspy="cls: uk-animation-slide-bottom-small; target: h2, hr,p; delay: 200; "
        >
          <h2 class="uk-text-bold uk-text-uppercase txt-white">
            Unreal Game Engine
          </h2>
          <hr class="uk-divider-small" />
          <p>
            Unreal is among the best platforms available for you to develop games.
            You can use Unreal to develop realistic looking games that are
            compatible with different platforms such as desktop, mobile, AR/VR,
            and web.
          </p>
          <p>
            If you have plans to develop a new game with Unreal engine, you just
            need to connect with us. We have a team of specialist Unreal game
            developers. They are willing to help you with getting the best
            possible Unreal game development services.
          </p>
          <p>
            We offer end-to-end Unreal game development services. All the services
            are customer-driven. Just share your idea, and we will be able to help
            you with transforming that into a self-contained game. No matter how
            big or complex your idea is, we are ready to code that into a game
            that players would love.
          </p>
          <p>
            You may even get in touch with us if you want to port an existing game
            to Unreal engine. This will help you to take your game to a whole new
            level and get more people attracted to it.
          </p>
        </div>
      </div>
    </div>
  </div>
