<!-- Hero Section Start -->
<div class="">
    <div class="uk-section uk-section-default">
      <div class="uk-container">
        <div class="uk-child-width-1-2@m" uk-grid>
          <div class="uk-text-center" uk-scrollspy="cls: animate__animated animate__flipInX; target: img; delay: 300">
            <img
              width="500"
              height="500"
              src="/assets/images/metaverse_metahuman/Metaverse_Metahumans.gif"
              alt="Metahumans"
            />
          </div>
          <div class="uk-margin-auto-vertical" uk-scrollspy="cls: uk-animation-slide-right-small; target: h1, p, button; delay: 300">
            <h1 class="uk-text-uppercase uk-heading-small">
              Metaverse & Metahumans
            </h1>
            <p class="">
              Aptitude Solutions is ready to be your Web3 partner and deliver
              innovative solutions with cutting-edge technologies. We specialize
              in all sorts of Web3 developments, for enterprises, DAOs, and
              business startups.
            </p>
            <button class="uk-button uk-button-primary uk-border-rounded uk-margin-top">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Section End -->
  <!-- Metaverse Gaming Section Start -->
  <div class="" id="metaverse-games">
    <div class="uk-section uk-padding-remove-bottom">
      <div
        class="uk-container uk-padding uk-text-center custom-bg-overlay"
        uk-scrollspy="cls: uk-animation-slide-bottom; target: h1, hr, p; delay: 200"
      >
        <h2 class="uk-text-uppercase txt-white">Metaverse Gaming</h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          Do you have plans to go ahead and launch a gaming Metaverse? Then you
          have a reason to get in touch with our specialists. By developing a
          gaming Metaverse, we can let your players engage in an impressive 3D
          gaming space. This gaming environment will be powered with numerous
          Play2Earn opportunities and NFTs.
        </p>
        <p class="txt-white">
          You can count on us for the development of decentralized gaming
          platforms, gaming apps, and gaming NFTs. We will work strictly according
          to your preferences to deliver the best results at all times.
        </p>
      </div>
    </div>
  </div>
  <!-- Metaverse Gaming Section End -->
