<!-- Exchanges and Wallet Developments Start -->
<div class="" id="exchange-wallet-dev">
    <div class="uk-section">
      <div class="uk-container">
        <div class="">
          <h2 class="uk-text-uppercase txt-white uk-margin-remove-bottom">
            Exchanges and Wallet Developments
          </h2>
          <hr class="uk-divider-small" />
          <p class="txt-white">
            Cryptocurrency exchanges and crypto wallets offer advanced
            functionalities. On top of that, you need to ensure their security and
            functionality. Hence, a project of developing a crypto exchange of a
            wallet can be quite overwhelming. However, our expert developers at
            Amplitude Studios are ready to take the challenge and offer the best
            crypto exchange and wallet development services to you.
          </p>
        </div>
        <div class="uk-child-width-1-3@m uk-grid-match uk-margin-medium-top" uk-grid
          uk-scrollspy="cls: animate__animated animate__flipInX; target: .uk-card; delay: 200">
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-grid-margin uk-border-rounded">
              <h3 class="uk-text-bold txt-primary uk-text-center">Hyper-Ledger <br /> & <br /> Wallet</h3>
              <p>
                A crypto wallet can help people to store and access identity
                information via a well-defined interface. All identity information
                stored within the wallet can be accessed through Hyperledger
                Fabric Network. We can help you with creating a Hyper-ledger and
                wallet around your use case and provide a comprehensive ecosystem.
              </p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-grid-margin uk-border-rounded">
              <h3 class="uk-text-bold txt-primary uk-text-center">
                Crypto-fiat conversion tools & API
              </h3>
              <p>
                There is a massive demand for crypto to fiat currencies. If you
                want to build your own crypto to fiat currency conversions, or
                just an API, you may seek our assistance. We will develop a robust
                and a reliable tool to get the job done.
              </p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-grid-margin uk-border-rounded">
              <h3 class="uk-text-bold txt-primary uk-text-center">
                Centralized & <br /> De-Centralized Exchanges
              </h3>
              <p>
                Our team can help you with the development of both centralized
                exchanges and decentralized exchanges. Centralized exchanges are
                the middlemen that exist in between sellers and buyers. Likewise,
                a decentralized exchange would not have anyone in control of the
                assets. We specialize in both, and you may seek our assistance to
                build any type of an exchange as per your preferences.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Exchanges and Wallet Developments End -->