<!-- Hero Section Start -->
<div class="">
  <div class="uk-section uk-section-default">
    <div class="uk-container">
      <div class="uk-child-width-1-2@m" uk-grid>
        <div class="uk-text-center" uk-scrollspy="cls: animate__animated animate__flipInX; target: img; delay: 300">
          <img
            width="500"
            height="500"
            src="/assets/images/metaverse_metahuman/Metaverse_Metahumans.gif"
            alt="Metahumans"
          />
        </div>
        <div class="uk-margin-auto-vertical" uk-scrollspy="cls: uk-animation-slide-right-small; target: h1, p, button; delay: 300">
          <h1 class="uk-text-uppercase uk-heading-small">
            Metaverse & Metahumans
          </h1>
          <p class="">
            Aptitude Solutions is ready to be your Web3 partner and deliver
            innovative solutions with cutting-edge technologies. We specialize
            in all sorts of Web3 developments, for enterprises, DAOs, and
            business startups.
          </p>
          <button class="uk-button uk-button-primary uk-border-rounded uk-margin-top">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Section End -->
<!-- Metaverse Gaming Section Start -->
<div class="" id="metaverse-games">
  <div class="uk-section uk-padding-remove-bottom">
    <div
      class="uk-container uk-padding uk-text-center custom-bg-overlay"
      uk-scrollspy="cls: uk-animation-slide-bottom; target: h1, hr, p; delay: 200"
    >
      <h2 class="uk-text-uppercase txt-white">Metaverse Gaming</h2>
      <hr class="uk-divider-small" />
      <p class="txt-white">
        Do you have plans to go ahead and launch a gaming Metaverse? Then you
        have a reason to get in touch with our specialists. By developing a
        gaming Metaverse, we can let your players engage in an impressive 3D
        gaming space. This gaming environment will be powered with numerous
        Play2Earn opportunities and NFTs.
      </p>
      <p class="txt-white">
        You can count on us for the development of decentralized gaming
        platforms, gaming apps, and gaming NFTs. We will work strictly according
        to your preferences to deliver the best results at all times.
      </p>
    </div>
  </div>
</div>
<!-- Metaverse Gaming Section End -->
<!-- Metaverse World Creation Start -->
<div class="uk-section" id="metaverse-world">
  <div class="uk-container" uk-scrollspy="cls: uk-animation-slide-bottom; target: h1, hr, subheading; delay: 200">
    <div class="uk-text-center">
      <h2 class="uk-text-uppercase txt-white">Metaverse World Creation</h2>
      <hr class="uk-divider-small" />
      <p class="txt-white subheading">
        We help anyone who wishes to build a Metaverse Virtual World. It is
        clear that the future will be dominated by Metaverse virtual worlds. If
        you want to create your own virtual world in the Metaverse, you can
        connect with us.
      </p>
      <div
        class="uk-margin-large-top uk-child-width-1-3@m uk-grid-match"
        uk-grid
        uk-scrollspy="cls: animate__animated animate__pulse; target: h3; delay: 200"
      >
        <div class="">
          <div class="uk-padding custom-bg-overlay">
            <h3 class="uk-text-bold txt-primary">Static & Dynamic World</h3>
            <p class="txt-white">
              We offer both static and dynamic Metaverse virtual world
              development services. All you have to do is to let us know about
              your preferences, and we will be able to cater to them
              accordingly.
            </p>
          </div>
        </div>
        <div class="">
          <div class="uk-padding custom-bg-overlay">
            <h3 class="uk-text-bold txt-primary">Personal – client Server logic</h3>
            <p class="txt-white">
              Our experienced developers will adhere to personal – client server
              logics when developing virtual worlds in the Metaverse. This will
              help you to enrich it with functionality and develop many great
              features around it on the go.
            </p>
          </div>
        </div>
        <div class="">
          <div class="uk-padding custom-bg-overlay">
            <h3 class="uk-text-bold txt-primary">Blockchain Integration</h3>
            <p class="txt-white">
              Your Metaverse virtual world is not complete without blockchain
              integration. We are there to help you with integrating the
              Metaverse virtual world with blockchain to help you gain maximum
              functionality out of it.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Metaverse World Creation End -->
<!-- Metahuman Developments Start -->
<div class="" id="metahumans-dev">
  <div class="uk-section">
    <div class="uk-container">
      <div class="uk-text-center">
        <h2 class="uk-text-uppercase txt-white">Metahuman Developments</h2>
        <hr class="uk-divider-small" />
        <p class="txt-white">
          MetaHuman is a comprehensive framework, which provides creators with
          the ability to create their own human characters. There are unlimited
          number of possibilities to customize humans in the MetaHuman
          framework. It also provides access to a free app, which helps the
          creators with creating photorealistic and rigged digital humans within
          a matter of few minutes. If you want specialist assistance with
          creating Meta Humans, you can seek our assistance.
        </p>
      </div>
      <div class="" uk-scrollspy="cls: uk-animation-slide-bottom-small; target: .uk-card; delay: 200">
        <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
          <div class="uk-text-center">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <img alt="facial-rendering" src="/assets/images/metaverse_metahuman/facial_rendering.png"/>
              <h3 class="uk-text-bold">Facial Rendering</h3>
              <p>
                We will be able to create realistic faces for characters on the
                MetaHuman space. Our developers will pay attention to detail and
                harness the most out of available technologies. At the time of
                facial rendering, we will be paying attention to geometric
                properties, reflectance properties and many other additional
                information. As a result, we end up with creating highly
                realistic human faces on the MetaHuman space.
              </p>
            </div>
          </div>
          <div class="uk-text-center">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <img alt="facial-rendering" src="/assets/images/metaverse_metahuman/motion_capture.png"/>
              <h3 class="uk-text-bold">Motion Capture</h3>
              <p>
                Our developers are also capable of capturing motions of humans
                in the real world and equipping characters in MetaHuman space
                with the same. This will help you to create realistic characters
                on MetaHuman space at the end of the day.
              </p>
            </div>
          </div>
          <div class="uk-text-center">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <img alt="facial-rendering" src="/assets/images/metaverse_metahuman/3d_modal.png"/>
              <h3 class="uk-text-bold">3D body rendering and Models</h3>
              <p>
                You can count on us for 3D body rendering and model creation on
                the MetaHuman space as well. Our creative artists and developers
                will pay attention to detail, and make sure that you end up with
                getting amazing results at the end of the day.
              </p>
            </div>
          </div>
          <div class="uk-text-center">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <img alt="facial-rendering" src="/assets/images/metaverse_metahuman/highend_game.png"/>
              <h3 class="uk-text-bold">We develop for Film Industry and High-End Games</h3>
              <p>
                We are capable of developing realistic-looking characters for
                the film industry and high-end games. Just let us know your
                requirement in detail, and we will be able to cater to it
                accordingly with outstanding results.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Metahuman Developments End -->
