<div class="uk-section custom-section-bg" uk-height-viewport>
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-body uk-padding-large custom-card-design">
            <div class="uk-child-width-1-2@s" uk-grid>
                <div class=""  uk-scrollspy="cls: uk-animation-slide-left-small; target: h1, h3, li, p, button; delay: 100; ">
                    <div>
                        <h1 class="uk-heading-small font-family">Game development</h1>
                        <h3 class="uk-h4 font-family uk-margin-small-top">Aptitude Studios is a secure gaming system
                            that is especially integrated for operators who require flexibility in customizing the
                            gaming portal to the local market requirements and who want to have the choice of
                            integrating gaming content from different organisations into one seamless solution.</h3>
                    </div>
                    <div class="uk-margin-medium-top">
                        <h1 class="uk-h2 font-family">Game Development</h1>
                        <ul class="uk-list uk-list-disc">
                            <li class="uk-h4 font-family">Unity 3D</li>
                            <li class="uk-h4 font-family">2D</li>
                            <li class="uk-h4 font-family">HTML 5</li>
                        </ul>
                        <p>Each organisation has an architecture that helps in customizing the clients requirement. Our core features are:</p>
                        <h1 class="uk-h2 font-family">Gaming Features</h1>
                        <ul class="uk-list uk-list-disc">
                            <li class="uk-h4 font-family">Content Management system (CMS)</li>
                            <li class="uk-h4 font-family">Payment gateway</li>
                            <li class="uk-h4 font-family">Player account management</li>
                            <li class="uk-h4 font-family">Responsible gaming features</li>
                            <li class="uk-h4 font-family">3rd party game integration</li>
                        </ul>
                        <h1 class="uk-h2 font-family">Back office</h1>
                        <ul class="uk-list uk-list-disc">
                            <li class="uk-h4 font-family">Marketing tools (CRM, email marketing tool)</li>
                            <li class="uk-h4 font-family">Game vertical integration</li>
                            <li class="uk-h4 font-family">Agency management</li>
                            <li class="uk-h4 font-family">Payin-Payout Management</li>
                            <li class="uk-h4 font-family">Financial Reporting modules</li>
                            <li class="uk-h4 font-family">Game Reporting modules</li>
                        </ul>
                    </div>
                    <div class="uk-margin-medium-top">
                        <button class="uk-button uk-button-primary uk-text-capitalize">
                            Send Request
                        </button>
                    </div>
                </div>
                <div class="" uk-scrollspy="cls: uk-animation-fade; target: img; delay: 200; ">
                    <img alt="game-dev" src="/assets/images/CasinoCards/game-dev.png">
                </div>
            </div>
        </div>
    </div>
</div>