<div class="custom-bg-overlay"  id="online-casino">
    <div class="uk-section">
      <div
        class="uk-container"
        uk-scrollspy="cls:  uk-animation-slide-bottom; target: h3, hr, p; delay: 200"
      >
        <div class="">
          <h2 class="uk-text-uppercase uk-text-bold txt-white">
            Esports Tournament Platforms
          </h2>
          <hr class="uk-divider-small" />
          <p class="txt-white">
            We develop dynamic platforms for hosting and managing online & offline esports tournaments. Our solutions include automated brackets, scheduling, real-time match updates, and seamless prize distribution.
          </p>
        </div>
      </div>
    </div>
  </div>

<!-- Standard spacing for consistent footer position -->
<div style="height: 150px;"></div>
