<!-- Product Development Section Start -->
<div class="" id="product-dev">
    <div class="uk-section">
      <div class="uk-container" uk-scrollspy="cls: animate__animated animate__fadeInUp; target: .uk-card; delay: 200">
        <div class="uk-text-center">
          <h2 class="uk-text-uppercase txt-white uk-margin-remove-bottom">
            Product Developments
          </h2>
          <hr class="uk-divider-small" />
        </div>
        <div class="uk-child-width-1-3@m uk-child-width-1-2@s uk-margin-medium-top uk-grid-match" uk-grid>
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded ">
              <p class="uk-margin-large-bottom">
                An IDO or Initial DEX Offering is simply a crowdfunding method,
                which crypto agents and crypto projects can use. You will be able
                to elevate crypto funds through the release of IDO tokens. These
                tokens are corresponding to an asset, which bounces its price
                based on the cryptocurrency project behind it. If you are planning
                to launch your own IDO, you can connect with us. We love to
                support unique concepts and help them to find their space on the
                cryptocurrency space.
              </p>
              <div class="uk-position-bottom uk-text-center">
                <hr class="uk-divider-small uk-visible@m" />
                <h5 class="uk-text-bold uk-margin-remove-top">
                  Tokens, Launchpad, and IDO
                </h5>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded ">
              <p>
                DAO registry contract defines the identity of DAO. This contract
                is capable of addressing all the adapters that it is interacting
                with. We can help you with managing all sorts of complex DRO &
                Registry developments. We will be able to deliver guaranteed
                results to you while adhering to your specific needs.
              </p>
              <div class="uk-position-bottom uk-text-center">
                <hr class="uk-divider-small uk-visible@m" />
                <h5 class="uk-text-bold uk-margin-remove-top">
                  DAO & Registry
                </h5>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <p>
                We offer a website vulnerability finding, which can effectively
                conduct security applications of web applications. This
                application is capable of conducting comprehensive tests on
                different web applications, including progressive web apps,
                multi-page apps, single-page applications, and dynamic or static
                web apps. Connect with us to learn more about it.
              </p>
              <div class="uk-position-bottom uk-text-center">
                <hr class="uk-divider-small uk-visible@m" />
                <h5 class="uk-text-bold uk-margin-remove-top">
                  Vulnerability finder
                </h5>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <p>
                Our team of developers specialize in developing crypto trading
                bots. These bots are based upon advanced algorithms and
                functionalities. As a result, you can expect them to deliver
                amazing results on your way. If you want to help people automate
                their crypto trading, all you have to do is to get one of these
                tools.
              </p>
              <div class="uk-position-bottom uk-text-center">
                <hr class="uk-divider-small uk-visible@m" />
                <h5 class="uk-text-bold uk-margin-remove-top">
                  Arbitrage tool & Sniper Bots
                </h5>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <p class="uk-margin-large-bottom">
                We specialize in smart contract and DApps developments. Businesses
                in today’s world are rapidly moving towards digitalization. If
                your business is not getting the most out of Blockchain
                technology, you will be left behind. This is where you should
                connect with us for Smart Contract and DApps developments. They
                can help you to enable your business footprint in the crypto world
                and experience the amazing results that would come on your way.
              </p>
              <div class="uk-position-bottom uk-text-center">
                <hr class="uk-divider-small uk-visible@m" />
                <h5 class="uk-text-bold uk-margin-remove-top">
                  Smart Contracts and DApps
                </h5>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <p>
                We can help you to explore the Metaverse with our Web 3.0 product
                development services. For example, you can seek our assistance for
                the development of Metaverse casinos and Play2Earn (P2E) casino
                games. NFT-based casino games are trending, and we are there to
                help you with getting the most out of them.
              </p>
              <div class="uk-position-bottom uk-text-center">
                <hr class="uk-divider-small uk-visible@m" />
                <h5 class="uk-text-bold uk-margin-remove-top">
                  Metaverse, P2E and Casino
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Product Development Section End -->
