<!-- Hero Section Start -->
<div id="herosection">
    <div class="uk-section uk-section-default">
      <div class="uk-container">
        <div class="uk-child-width-1-2@m" uk-grid>
          <div uk-scrollspy="cls: animate__animated animate__jackInTheBox; target: img; delay:200">
            <img src="/assets/images/blockchain/nft-hero-img.gif" width="500" height="500" alt="hero_img" />
          </div>
          <div class="uk-margin-auto-vertical"
            uk-scrollspy="cls: uk-animation-slide-right-small; target: h1, p; delay:200">
            <h1 class="uk-text-bold uk-text-uppercase">Block Chain Made Easy</h1>
            <p class="">
              At Aptitude Studios, we specialize in offering Blockchain
              developments. As an expert Web 3.0 Company, we can deliver custom
              solutions for enterprises, DAOs, and even business startups.
            </p>
            <a routerLink="/contact-us">
              <button class="uk-button uk-button-primary">Contact Us</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Section End -->
  <!-- NFT Section Start -->
  <div class="uk-margin-top" id="nft-dev">
    <div class="uk-section">
      <div class="uk-container">
        <div class="uk-text-center">
          <h2 class="uk-text-uppercase txt-white uk-text-center uk-margin-remove-bottom">
            NFT (Non-Fungible Token)
          </h2>
        </div>
        <div class="uk-child-width-1-2@m uk-margin-medium-top uk-padding custom-bg-overlay" uk-grid>
          <div class="" uk-scrollspy="cls: uk-animation-slide-left-small; target: h3, hr, p; delay: 200">
            <h3 class="uk-text-bold txt-white">NFT Development</h3>
            <hr class="uk-divider-small" />
            <p class="txt-white">
              By using our expertise, we are ready to offer all sorts of NFT
              development services to you. Even if you expect NFT developments
              based on complex algorithms, we are there to impress you with
              results. We are getting the most out of DNFT protocol to offer
              decentralized NFT developments, which would match with all your
              specific business needs.
            </p>
            <p class="txt-white">
              We have domain experts and blockchain engineers, who work hand in
              hand to offer carefully crafted NFT development services to you.
              Whether you want to tokenize an audio file, video file, artwork, or
              any other asset, we are ready to impress you with our solutions.
            </p>
          </div>
          <div class="uk-margin-auto-vertical">
            <div class="uk-flex uk-flex-center"
              uk-scrollspy="cls: animate__animated animate__pulse; target: img; delay: 200">
              <img cla src="/assets/images/blockchain/nft-development.png" width="350" height="350" alt="2d_art" />
            </div>
          </div>
        </div>
        <div class="uk-child-width-1-2@m uk-margin-medium-top uk-padding custom-bg-overlay" uk-grid>
          <div class="uk-margin-auto-vertical">
            <div class="uk-flex uk-flex-center"
              uk-scrollspy="cls: animate__animated animate__pulse; target: img; delay: 200">
              <img src="/assets/images/blockchain/nft-market.png" width="350" height="350" alt="2d_art" />
            </div>
          </div>
          <div class="" uk-scrollspy="cls: uk-animation-slide-left-small; target: h3, hr, p; delay: 200">
            <h3 class="uk-text-bold txt-white">NFT Marketplace</h3>
            <hr class="uk-divider-small" />
            <p class="txt-white">
              We can help you to build your own NFT marketplace. You can use our
              ready to deploy solution to build a feature-rich NFT marketplace
              within the shortest possible time. The NFT marketplace would focus
              on global NFT trading and user experience, which will surely help
              you to make it a success.
            </p>
            <p class="txt-white">
              After launching the feature-rich NFT marketplace, you can easily
              attract NFT enthusiast to place their NFTs on display and buy NFTs
              they want. You can easily reach a global audience with our NFT
              marketplace and earn significant profits.
            </p>
          </div>
        </div>
        <div class="uk-child-width-1-2@m uk-margin-medium-top uk-padding custom-bg-overlay" uk-grid>
          <div class="" uk-scrollspy="cls: uk-animation-slide-left-small; target: h3, hr, p; delay: 200">
            <h3 class="uk-text-bold txt-white">NFT Gaming</h3>
            <hr class="uk-divider-small" />
            <p class="txt-white">
              Launching a NFT gaming marketplace is something that you can easily
              do with our help. The NFT gaming marketplace we offer will promote
              realistic gameplay experiences. Hence, NFT enthusiasts who are
              interested in trading, purchasing, and minting in-game collectibles
              in the form of NFTs would join the marketplace without thinking
              twice. We are there to provide all the help you need to make your
              NFT gaming marketplace a success.
            </p>
          </div>
          <div class="uk-margin-auto-vertical">
            <div class="uk-flex uk-flex-center"
              uk-scrollspy="cls: animate__animated animate__pulse; target: img; delay: 200">
              <img src="/assets/images/blockchain/nft-games.png" width="350" height="350" alt="2d_art" />
            </div>
          </div>
        </div>
        <div class="uk-child-width-1-2@m uk-margin-medium-top uk-padding custom-bg-overlay" uk-grid>
          <div class="uk-margin-auto-vertical">
            <div class="uk-flex uk-flex-center"
              uk-scrollspy="cls: animate__animated animate__pulse; target: img; delay: 200">
              <img src="/assets/images/blockchain/2d3dgames.png" width="350" height="350" alt="2d_art" />
            </div>
          </div>
          <div class="" uk-scrollspy="cls: uk-animation-slide-left-small; target: h3, hr, p; delay: 200">
            <h3 class="uk-text-bold txt-white">2D & 3D Assets Creations</h3>
            <hr class="uk-divider-small" />
            <p class="txt-white">
              Along with the development of NFTs, there is a massive demand for
              asset creation. We can help you with developing both 2D and 3D asset
              collections. All you have to do is to provide us with the concept.
              We will use our expertise and develop amazing NFT assets, which you
              can sell at sky-high prices.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- NFT Section End -->