<div class="uk-section custom-section-bg" uk-height-viewport>
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-body uk-padding-large custom-card-design">
            <div class="uk-child-width-1-2@s" uk-grid>
                <div class="" uk-scrollspy="cls: uk-animation-slide-left-small; target: h1, h3, li, button; delay: 200; ">
                    <div>
                        <h1 class="uk-heading-small font-family">Mobile application development</h1>
                        <h3 class="uk-h4 font-family uk-margin-small-top">Aptitude Studios provides best class service
                            in mobile app development outsourcing services. When speaking of mobile app development, you
                            are partnering with the most cost-effective team that has been designing and developing
                            featured-rich mobile apps for years. With a team of dedicated developers, designers, and
                            creative engineers, we integrate clients requirements and develop an app with exact
                            accuracy.We provide Customer Satisfaction and believe in building long term business
                            relationship to help achieve the business goals.</h3>
                    </div>
                    <div class="uk-margin-medium-top">
                        <h1 class="uk-h2 font-family">Mobile Games and Applications</h1>
                        <ul class="uk-list uk-list-disc">
                            <li class="uk-h4 font-family">IOS and Android</li>
                            <li class="uk-h4 font-family">Facebook Application</li>
                        </ul>
                    </div>
                    <div class="uk-margin-medium-top">
                        <button class="uk-button uk-button-primary uk-text-capitalize">
                            Send Request
                        </button>
                    </div>
                </div>
                <div class="" uk-scrollspy="cls: uk-animation-fade; target: img; delay: 200; ">
                    <img alt="Mobile-dev" src="/assets/images/CasinoCards/mobile-dev.png">
                </div>
            </div>
        </div>
    </div>
</div>