<!-- Hero Section -->
<div>
  <div
    class="uk-position-relative uk-visible-toggle uk-light"
    tabindex="-1"
    uk-slideshow="autoplay: true; min-height: 300; max-height: 900"
  >
    <ul class="uk-slideshow-items">
      <li>
        <div
          class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left"
        >
          <img src="assets/images/home/Banner_04.png" alt="slide4" uk-cover />
        </div>
        <div class="uk-position-cover custom-bg-overlay"></div>
        <div class="uk-position-center uk-position-medium uk-text-center">
          <div>
            <h1 class="animate__animated animate__zoomInDown animate__slower">
              Strategic
              <span class="txt-primary">Marketing </span>
            </h1>
            <h4
              class="txt-white animate__animated animate__zoomIn animate__slower"
            >
              Exceptionally stratergic marketing techniques are prompted to meet
              the requirements
            </h4>
          </div>
        </div>
      </li>
      <li class="">
        <div
          class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left"
        >
          <img src="assets/images/home/Banner_01.jpg" alt="slide1" uk-cover />
        </div>
        <div class="uk-position-cover custom-bg-overlay"></div>
        <div class="uk-position-center uk-position-medium uk-text-center">
          <div>
            <h1 class="animate__animated animate__zoomInDown animate__slower">
              Dominant
              <span class="txt-primary">Mobile </span><br />
              Applications
            </h1>
            <h4
              class="txt-white animate__animated animate__zoomIn animate__slower"
            >
              Mobile applications describe Internet applications that run on
              smartphones and other mobile devices..
            </h4>
          </div>
        </div>
      </li>
      <li>
        <div
          class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right"
        >
          <img src="assets/banner.png" alt="slide2" uk-cover />
        </div>
        <div class="uk-position-cover custom-bg-overlay"></div>
        <div class="uk-position-center uk-position-medium uk-text-center">
          <div>
            <h1
              class="herotext2 uk-text-bold uk-text-uppercase animate__animated animate__rotateInDownRight animate__slower"
            >
              We Are <span class="txt-primary">Crazy</span>
              in Games
            </h1>
            <h4
              class="txt-white animate__animated animate__jackInTheBox animate__slower"
            >
              We are professional game makers
            </h4>
          </div>
        </div>
      </li>
      <li>
        <div
          class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left"
        >
          <img src="assets/banner-1.png" alt="slide3" uk-cover />
        </div>
        <div class="uk-position-cover custom-bg-overlay"></div>
        <div class="uk-position-center uk-position-medium uk-text-center">
          <div>
            <h1 class="animate__animated animate__zoomInDown animate__slower">
              Addicted in
              <span class="txt-primary">Township </span>
            </h1>
            <h4
              class="txt-white animate__animated animate__zoomIn animate__slower"
            >
              Outstanding focus in farming, city-building, and casual game development
            </h4>
          </div>
        </div>
      </li>
    </ul>

    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover uk-margin-large-left"
      href="#"
      uk-slidenav-previous
      uk-slideshow-item="previous"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover uk-margin-large-right"
      href="#"
      uk-slidenav-next
      uk-slideshow-item="next"
    ></a>
    <div class="uk-position-bottom-center uk-position-small">
      <ul class="uk-dotnav">
        <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
        <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
        <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
        <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- About us Section -->
<div class="">
  <div class="uk-section">
    <div
      class="uk-container"
      uk-scrollspy="cls: uk-animation-slide-bottom; target: h1, h4, button; delay: 200; "
    >
      <div class="uk-text-center">
        <h2 class="txt-white uk-margin-remove-bottom">
          WE ARE <span class="text-primary">APTITUDE STUDIOS</span>
        </h2>
      </div>
      <div class="uk-child-width-1-2@s uk-margin-top uk-grid-divider" uk-grid>
        <div class="uk-align-center uk-margin-top">
          <h4 class="txt-white">
            At Aptitude Studios, we have a team of experts, who are ready to
            deliver cutting-edge solutions to make you ready for Web 3.0
            revolution.
          </h4>
          <h4 class="uk-margin-top txt-white">
            One-stop solution for Blockchain, Metaverse, Gaming, and Web
            Development.
          </h4>
        </div>
        <!-- <hr class="uk-divider-vertical uk-visible@s" style="height: 150px;" /> -->
        <div class="uk-margin-top">
          <h4 class="txt-white">
            Connect with us for the most innovative, future-proof, and
            cost-effective solutions!
          </h4>
          <a routerLink="/contact-us" class="txt-white">
            <button class="uk-button uk-button-primary uk-align-center">
              Contact Us
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- We are Specialized -->
<div class="uk-margin-top custom-section-bg-overlay">
  <div class="uk-section">
    <div
      class="uk-container"
      uk-scrollspy="cls: uk-animation-slide-bottom; target: h1, .custom-subheading; delay: 200; "
    >
      <h2
        class="txt-white uk-margin-bottom-small uk-text-center uk-margin-remove-bottom"
      >
        WE ARE
        <span class="text-primary">SPECIALIZED</span>
      </h2>
      <p
        class="uk-margin-remove-top txt-white uk-text-center uk-margin-remove-top custom-subheading"
        style="width:1165px; height:21.75px; font:14.5px Arial, Helvetica, sans-serif; color:#F7F7F7; margin:0 0 20px;"
      >
        We make everything with passion and love
      </p>
      <div class="uk-margin uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1" uk-grid>
        <div class="uk-animation-toggle">
          <div class="">
            <a [routerLink]="['/games/herosection']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/home/Img_06.png"
                  width="1800"
                  height="1200"
                  alt="GD_BG"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom">
                  <img
                    alt=""
                    src="/assets/images/home/Icon_12.png"
                    alt="GD_ICON"
                    width="45"
                    height="45"
                  />
                  <h4
                    class="uk-margin-remove uk-text-bold txt-white uk-text-capitalize"
                  >
                    Game Development
                  </h4>
                  <p class="uk-margin-remove-top txt-white">
                    Whether you want a single player, multiplayer, a Metaverse
                    games, or even AR/VR game.
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <div class="uk-animation-toggle">
          <div class="">
            <a [routerLink]="['/herosection']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/Games/Game-Development_Image.png"
                  width="1800"
                  height="1200"
                  alt="ESPORTS_BG"
                  style="filter: blur(4px); height: 246.63px;"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom" style="height: 246.63px; box-sizing: border-box;">
                  <img
                    alt="ESPORTS_ICON"
                    src="/assets/esports_icon_60x50.png"
                    width="60"
                    height="50"
                  />
                  <h4
                    class="uk-margin-remove uk-text-bold txt-white uk-text-capitalize"
                    style="height: 28px; line-height: 1.05;"
                  >
                    Esports Application<br>Development
                  </h4>
                  <p class="txt-white" style="height: 105.25px; box-sizing: border-box; margin-top: 8px !important;">
                    From tournaments to analytics,<br>
                    we build esports apps for players and fans.
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        
        <div class="uk-animation-toggle">
          <div class="">
            <a [routerLink]="['/nft/herosection']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/home/Img_04.png"
                  width="1800"
                  height="1200"
                  alt="GD_BG"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom">
                  <img
                    alt=""
                    src="/assets/images/home/Icon_10.png"
                    alt="GD_ICON"
                    width="45"
                    height="45"
                  />
                  <h4 class="uk-margin-remove uk-text-bold txt-white">
                    Blockchain Development
                  </h4>
                  <p class="uk-margin-remove-top txt-white">
                    We specialize in Web 3.0 developments. Whether you want to
                    develop a new..
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <div class="uk-animation-toggle">
          <div>
            <a [routerLink]="['/metaverse-metahumans/herosection']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/home/Img_02.png"
                  width="1800"
                  height="1200"
                  alt="GD_BG"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom">
                  <img
                    alt=""
                    class="txt-white"
                    src="/assets/images/home/Icon_13.png"
                    alt="GD_ICON"
                    width="45"
                    height="45"
                  />
                  <h4 class="uk-margin-remove uk-text-bold txt-white">
                    Metaverse Developments
                  </h4>
                  <p class="uk-margin-remove-top txt-white">
                    Our Blockchain specialists can help you with all sorts of
                    Metaverse developments..
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <div class="uk-animation-toggle">
          <div>
            <a [routerLink]="['/mobile-app-development']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/home/Img_03.png"
                  width="1800"
                  height="1200"
                  alt="GD_BG"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom" style="height: 246.63px; box-sizing: border-box;">
                  <img
                    alt=""
                    src="/assets/images/home/Icon_9.png"
                    alt="GD_ICON"
                    width="45"
                    height="45"
                  />
                  <h4 class="uk-margin-remove uk-text-bold txt-white">
                    Mobile Development
                  </h4>
                  <p class="uk-margin-remove-top txt-white">
                    Mobile apps for iOS and Android.<br>
                    For players, organizers, and fans.<br>
                    Tournament access and notifications.
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <div class="uk-animation-toggle">
          <div>
            <a [routerLink]="['/mobileapp-webdev/herosection']">
              <figure
                class="uk-inline uk-inline-clip uk-transition-toggle uk-transform-origin-top-center effect-bubba uk-text-center"
              >
                <img
                  alt=""
                  class="uk-transition-scale-up uk-transition-opaque"
                  src="/assets/images/home/Img_01.png"
                  width="1800"
                  height="1200"
                  alt="GD_BG"
                />
                <figcaption class="uk-overlay uk-padding uk-position-bottom">
                  <img
                    alt=""
                    src="/assets/images/home/Icon_7.png"
                    alt="GD_ICON"
                    width="45"
                    height="45"
                  />
                  <h4 class="uk-margin-remove uk-text-bold txt-white">
                    Web App Development
                  </h4>
                  <p class="uk-margin-remove-top txt-white">
                    We specialize in Web 3.0 developments. Whether you want to
                    develop a new..
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Quote Section Start -->
<div
  class="uk-background-fixed uk-background-center-center uk-height-medium custom-quote-section-bg"
>
  <div class="uk-text-center uk-height-1-1 custom-section-bg-overlay">
    <div class="uk-container">
      <div
        class="uk-position-relative uk-visible-toggle uk-light"
        tabindex="-1"
        uk-slideshow="autoplay: true; min-height: 300; max-height: 600"
      >
        <ul class="uk-slideshow-items">
          <li>
            <div>
              <h2 class="uk-margin-large-top txt-white">
                ❝ If opportunity doesn't knock, <br /><span class="uk-text-bold"
                  >build a door ❞</span
                >
              </h2>
              <p class="uk-badge custom-badge uk-padding-small">Milton Berle</p>
            </div>
          </li>
          <li>
            <div>
              <h2 class="uk-margin-large-top txt-white">
                ❝ The best preparation for good work tomorrow is to do
                <br /><span class="uk-text-bold"> good work today ❞</span>
              </h2>
              <p class="uk-badge custom-badge uk-padding-small">
                Elbert Hubbard
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Quote Section End -->
<!-- We are expertise -->
<div class="uk-section custom-section">
  <div
    class="uk-container"
    uk-scrollspy="cls: uk-animation-slide-bottom; target: h1, .custom-subheading; delay: 200; "
  >
    <h2
      class="uk-text-capitalize txt-white uk-text-center uk-margin-remove-bottom"
    >
      WE ARE <span class="text-primary">EXPERTISE</span>
    </h2>
    <p class="uk-margin-remove-top txt-white uk-text-center custom-subheading">
      We make everything with passion and love
    </p>
    <div class="uk-margin-medium-top">
      <ul class="uk-flex-center" uk-tab>
        <li class="uk-active"><a class="txt-white" href="#">Mobile</a></li>
        <li><a href="#" class="txt-white">Frontend</a></li>
        <li><a href="#" class="txt-white">Backend</a></li>
        <li><a href="#" class="txt-white">Game</a></li>
        <li><a href="#" class="txt-white">Blockchain</a></li>
      </ul>
      <ul class="uk-switcher uk-margin">
        <li>
          <div
            class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2 uk-child-width-1-2 uk-flex-center uk-text-center"
            uk-grid
            uk-scrollspy="cls: uk-animation-scale-up; target: img, p; delay: 100; "
          >
            <div>
              <div class="">
                <img
                  alt="Android"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/android.png"
                />
                <p class="uk-text-bold txt-white">Android</p>
              </div>
            </div>
            <div class="">
              <div class="">
                <img
                  alt="iOS"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/iOS.png"
                />
                <p class="uk-text-bold txt-white">iOS</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="flutter"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/flutter.png"
                />
                <p class="uk-text-bold txt-white">Flutter</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="react"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/react.png"
                />
                <p class="uk-text-bold txt-white">React Native</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="swift"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/swift.png"
                />
                <p class="uk-text-bold txt-white">Swift</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="kotlin"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/kotlin.png"
                />
                <p class="uk-text-bold txt-white">Kotlin</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="mobile"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/mobile.png"
                />
                <p class="uk-text-bold txt-white">iPad</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="microsoft"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/microsoft.png"
                />
                <p class="uk-text-bold txt-white">Windows</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="ar"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/ar.png"
                />
                <p class="uk-text-bold txt-white">AR</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="vr"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/vr.png"
                />
                <p class="uk-text-bold txt-white">VR</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div
            class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2 uk-flex-center uk-text-center"
            uk-grid
            uk-scrollspy="cls: uk-animation-fade; target: img, p; delay: 100; "
          >
            <div>
              <div class="">
                <img
                  alt="typescript"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/typescript.png"
                />
                <p class="uk-text-bold txt-white">TypeScript</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="angular"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/angular.png"
                />
                <p class="uk-text-bold txt-white">Angular</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="golang"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/golang.png"
                />
                <p class="uk-text-bold txt-white">Golang</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="js"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/js.png"
                />
                <p class="uk-text-bold txt-white">JavaScript</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="react"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/react.png"
                />
                <p class="uk-text-bold txt-white">ReactJS</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="html-5"
                  class="tech-img"
                  width="68"
                  height="68"
                  src="assets/images/app-dev/html-5.png"
                />
                <p class="uk-text-bold txt-white">HTML5</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div
            class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2 uk-flex-center uk-text-center"
            uk-grid
            uk-scrollspy="cls: uk-animation-fade; target: img, p; delay: 100; "
          >
            <div>
              <div class="">
                <img
                  alt="php"
                  class="tech-img"
                  src="assets/images/app-dev/php.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">PHP</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="java"
                  class="tech-img"
                  src="assets/images/app-dev/java.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">JAVA</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="dotnet"
                  class="tech-img"
                  src="assets/images/app-dev/dotnet.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">DotNet</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="c"
                  class="tech-img"
                  src="assets/images/app-dev/c.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">C#</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="ruby"
                  class="tech-img"
                  src="assets/images/app-dev/ruby.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Ruby</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="python"
                  class="tech-img"
                  src="assets/images/app-dev/python.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Python</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="laravel"
                  class="tech-img"
                  src="assets/images/app-dev/laravel.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Laravel</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="scala"
                  class="tech-img"
                  src="assets/images/app-dev/scala.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Scala</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="nodejs"
                  class="tech-img"
                  src="assets/images/app-dev/nodejs.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">NodeJS</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="django"
                  class="tech-img"
                  src="assets/images/app-dev/django.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Django</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div
            class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2 uk-flex-center uk-text-center uk-grid-match"
            uk-grid
            uk-scrollspy="cls: uk-animation-fade; target: img, p; delay: 100; "
          >
            <div>
              <div class="">
                <img
                  alt="2D3Dgames"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/games.png"
                />
                <p class="uk-text-bold txt-white">2D/3D Game Design</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="Unity3D"
                  class="tech-img"
                  src="assets/images/app-dev/unity.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Unity 3D</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="unreal-engine"
                  class="tech-img"
                  src="assets/images/app-dev/unreal-engine.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Unreal Engine</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="smartfoxserver"
                  class="tech-img"
                  src="assets/images/app-dev/smartforserver.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Smart Fox Server (SFS)</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="Photon"
                  width="68"
                  height="68"
                  class="tech-img"
                  src="assets/images/app-dev/photon.png"
                />
                <p class="uk-text-bold txt-white">Photon Server</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div
            class="uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2 uk-flex-center uk-text-center uk-grid-match"
            uk-grid
            uk-scrollspy="cls: uk-animation-fade; target: img,p; delay: 100; "
          >
            <div>
              <div class="">
                <img
                  alt="solidity"
                  class="tech-img"
                  src="assets/images/app-dev/solidity.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Solidity</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="ethermint"
                  class="tech-img"
                  src="assets/images/app-dev/ethermint.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">EtherMint</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="tendermint"
                  class="tech-img"
                  src="assets/images/app-dev/tendermint.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">KaderMint</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="ses"
                  class="tech-img"
                  src="assets/images/app-dev/ses.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Secure ECMA Script (ses)</p>
              </div>
            </div>
            <div>
              <div class="rust">
                <img
                  alt=""
                  class="tech-img"
                  src="assets/images/app-dev/rust.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Rust</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="haskell"
                  class="tech-img"
                  src="assets/images/app-dev/haskell.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Haskell</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="plutus"
                  class="tech-img"
                  src="assets/images/app-dev/plutus.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">Plutus</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="c++"
                  class="tech-img"
                  src="assets/images/app-dev/c++.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">C++</p>
              </div>
            </div>
            <div>
              <div class="">
                <img
                  alt="js"
                  class="tech-img"
                  src="assets/images/app-dev/js.png"
                  width="68"
                  height="68"
                />
                <p class="uk-text-bold txt-white">JavaScript</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="uk-section custom-section-bg-overlay">
  <div class="uk-container">
    <div class="">
      <h2 class="uk-text-capitalize txt-white uk-text-center">
        WHY? <span class="text-primary">APTITUDE STUDIOS</span>
      </h2>
      <div class="uk-child-width-1-2@s" uk-grid>
        <div
          class="uk-margin-auto-vertical"
          uk-scrollspy="cls: uk-animation-slide-left; target: img; delay: 200;"
        >
          <img alt="" src="/assets/images/home/why_us.png" alt="Why_AS_1" />
        </div>
        <div
          class="uk-margin-auto-vertical"
          uk-scrollspy="cls: uk-animation-slide-right; target: .custom-animation; delay: 200"
        >
          <div class="txt-white custom-animation">
            <div class="">
              <a class="txt-white"
                ><img
                  src="/assets/images/home/TickMark.png"
                  width="20"
                  height="20"
                  alt="thunder_icon"
                />
                Dedicated team of skilled developers and designers</a
              >
              <div class="uk-accordion-content">
                <p>
                  Our team is our biggest asset. They will use their experience
                  and skills to deliver the most innovative solutions to you. No
                  matter what challenges you throw on our way, we will impress
                  you with the results!
                </p>
              </div>
            </div>
            <div class="uk-margin-top">
              <a class="txt-white"
                ><img
                  src="/assets/images/home/TickMark.png"
                  width="20"
                  height="20"
                  alt="thunder_icon"
                />
                Best pricing</a
              >
              <div class="uk-accordion-content">
                <p>
                  Our services are affordable for everyone. It doesn’t mean that
                  we offer a compromised service. Instead, we have optimized our
                  costs to deliver our services at a price you can afford.
                </p>
              </div>
            </div>
            <div class="uk-margin-top">
              <a class="txt-white"
                ><img
                  src="/assets/images/home/TickMark.png"
                  width="20"
                  height="20"
                  alt="thunder_icon"
                />
                Cutting-edge solutions</a
              >
              <div class="uk-accordion-content">
                <p>
                  We have extensive knowledge and understanding of latest
                  technologies and their implications. You can reap the benefits
                  of them by making the decision to work along with us!
                </p>
              </div>
            </div>
            <div class="uk-margin-top">
              <a class="txt-white"
                ><img
                  src="/assets/images/home/TickMark.png"
                  width="20"
                  height="20"
                  alt="thunder_icon"
                />
                Flexible</a
              >
              <div class="uk-accordion-content">
                <p>
                  All the services we offer are flexible, and we can cater to
                  your specific needs. Just let us know how you want us to help,
                  and we will work on it.
                </p>
              </div>
            </div>
            <div class="uk-margin-top">
              <a class="txt-white"
                ><img
                  src="/assets/images/home/TickMark.png"
                  width="20"
                  height="20"
                  alt="thunder_icon"
                />
                Constant support</a
              >
              <div class="uk-accordion-content">
                <p>
                  You can count on us for all your needs. Whenever you need, our
                  responsive team is there to provide assistance you need.
                </p>
              </div>
            </div>
            <div class="uk-margin-top">
              <a class="txt-white"
                ><img
                  src="/assets/images/home/TickMark.png"
                  width="20"
                  height="20"
                  alt="thunder_icon"
                />
                Creative</a
              >
              <div class="uk-accordion-content">
                <p>
                  Our team is filled with creativity. We will be offering out of
                  the box solutions to you and impress you with results!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Creative Digital Agency -->
<div class="uk-section">
  <div
    class="uk-container"
    uk-scrollspy="cls: uk-animation-slide-up; target: .uk-card; delay: 200"
  >
    <h2 class="uk-text-capitalize txt-white uk-text-center">
      WE ARE A <span class="txt-primary">CREATIVE DIGITAL AGENCY</span>
    </h2>
    <div
      class="uk-child-width-1-4@m uk-child-width-1-2@s uk-flex-center uk-text-center uk-grid-medium uk-margin-medium-top uk-grid-match"
      uk-grid
      uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 100; "
    >
      <div class="">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
          <div class="uk-text-center">
            <img
              src="/assets/images/home/UnderstandingNeeds.png"
              alt="requirement_gathering"
            />
            <h3 class="uk-text-bold">Understanding your needs</h3>
            <div class="custom-divider"></div>
          </div>
          <h5 class="uk-margin-top uk-text-left">
            The very first step we follow when working with you is to understand
            your needs. Feel free to let us know about your expectations. We
            will be able to develop a proper strategy based on that.
          </h5>
        </div>
      </div>
      <div class="uk-text-center">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
          <div class="uk-text-center">
            <img
              alt=""
              src="/assets/images/home/DevelopmentIcon.png"
              alt="requirement_gathering"
            />
            <h3 class="uk-text-bold">Developments</h3>
            <div class="custom-divider"></div>
          </div>
          <h5 class="uk-margin-top uk-text-left">
            Upon getting to know about your needs, we will go ahead with the
            developments. Our developers will always adhere to the best
            practices with developments.
          </h5>
        </div>
      </div>
      <div class="">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
          <div class="uk-text-center">
            <img
              alt=""
              src="/assets/images/home/DeliveryIcon.png"
              alt="requirement_gathering"
            />
            <h3 class="uk-text-bold">Delivery</h3>
            <div class="custom-divider"></div>
          </div>
          <h5 class="uk-margin-top uk-text-left">
            At the completion of developments, we will go ahead and deliver what
            you asked. We will always respect your budget and timelines.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Project details -->
<div class="uk-section uk-section-default" id="prodject-details">
  <div
    class="uk-container"
    uk-scrollspy="cls: uk-animation-shake; target: img; delay:300"
  >
    <div class="uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid>
      <div class="uk-text-center">
        <img
          alt=""
          src="/assets/images/home/Moniter_01.png"
          alt="Line_of_codes"
        />
        <hr class="uk-divider-small" />
        <h2 class="uk-text-bold uk-margin-remove menu">9000000+</h2>
        <h5 class="uk-text-bold uk-margin-remove">LINES OF CODES</h5>
      </div>
      <div class="uk-text-center">
        <h2 class="uk-text-bold uk-margin-remove">500+</h2>
        <h5 class="uk-text-bold uk-margin-remove">LAUNCHED PROJECTS</h5>
        <hr class="uk-divider-small" />
        <img
          alt=""
          src="/assets/images/home/RocketIcon_01.png"
          alt="Line_of_codes"
        />
      </div>
      <div class="uk-text-center">
        <img
          alt=""
          src="/assets/images/home/Smiley_01.png"
          alt="Line_of_codes"
        />
        <hr class="uk-divider-small" />
        <h2 class="uk-text-bold uk-margin-remove">300+</h2>
        <h5 class="uk-text-bold uk-margin-remove">CLIENTS</h5>
      </div>
      <div class="uk-text-center">
        <h2 class="uk-text-bold uk-margin-remove">12+</h2>
        <h5 class="uk-text-bold uk-margin-remove">YEARS OF EXPERIENCES</h5>
        <hr class="uk-divider-small" />
        <img
          alt=""
          src="/assets/images/home/Trophy_01.png"
          alt="Line_of_codes"
        />
      </div>
    </div>
  </div>
</div>
<!-- testimonial -->
<!-- <div class="uk-section">
  <div class="uk-container">
    <h1 class="txt-white uk-text-center">
      WHAT SAYS <span class="txt-primary">HAPPY CLIENTS</span>
    </h1>
    <div
      class="uk-slider-container-offset uk-margin-top"
      uk-slider="autoplay: true"
    >
      <div
        class="uk-position-relative uk-visible-toggle uk-light"
        tabindex="-1"
      >
        <ul
          class="uk-slider-items uk-child-width-1-2@s"
          uk-grid
          uk-scrollspy="cls: uk-animation-fade; target: .uk-card, button; delay: 200; "
        >
          <li>
            <div class="uk-card uk-card-default testimonial-card">
              <div class="uk-card-body uk-padding">
                <img alt="" src="assets/images/quote.png" alt="img" width="50px" />
                <p class="txt-white uk-margin-top">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
                  semper consequat in dolor mattis pellentesque suspendisse
                  vulputate nec. Scelerisque elementum, consequat pharetra
                  lectus eget vivamus ut. Magna aliquam tellus at volutpat cras
                  aliquet facilisi quis adipiscing. Proin egestas et
                  pellentesque augue pretium, amet. Natoque blandit augue
                  integer maecenas mattis amet, nec.
                </p>

                <div class="uk-flex uk-margin-top">
                  <img alt=""
                    src="assets/images/avatar.jpg"
                    width="55"
                    height="55"
                    class="uk-border-circle"
                  />
                  <span
                    class="uk-text-top uk-margin-small-left txt-white mt-2 text-small"
                    >Brooklyn Simmons<br /><span class="text-primary -mt-3"
                      >Pendron.Inc, CEO</span
                    ></span
                  ><br /><br />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-card uk-card-default testimonial-card">
              <div class="uk-card-body uk-padding">
                <img alt="" src="assets/images/quote.png" alt="img" width="50px" />
                <p class="txt-white uk-margin-top">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
                  semper consequat in dolor mattis pellentesque suspendisse
                  vulputate nec. Scelerisque elementum, consequat pharetra
                  lectus eget vivamus ut. Magna aliquam tellus at volutpat cras
                  aliquet facilisi quis adipiscing. Proin egestas et
                  pellentesque augue pretium, amet. Natoque blandit augue
                  integer maecenas mattis amet, nec.
                </p>

                <div class="uk-flex uk-margin-top">
                  <img alt=""
                    src="assets/images/avatar.jpg"
                    width="55"
                    height="55"
                    class="uk-border-circle"
                  />
                  <span
                    class="uk-text-top uk-margin-small-left txt-white mt-2 text-small"
                    >Brooklyn Simmons<br /><span class="text-primary -mt-3"
                      >Pendron.Inc, CEO</span
                    ></span
                  ><br /><br />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-card uk-card-default testimonial-card">
              <div class="uk-card-body uk-padding">
                <img alt="" src="assets/images/quote.png" alt="img" width="50px" />
                <p class="txt-white uk-margin-top">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
                  semper consequat in dolor mattis pellentesque suspendisse
                  vulputate nec. Scelerisque elementum, consequat pharetra
                  lectus eget vivamus ut. Magna aliquam tellus at volutpat cras
                  aliquet facilisi quis adipiscing. Proin egestas et
                  pellentesque augue pretium, amet. Natoque blandit augue
                  integer maecenas mattis amet, nec.
                </p>

                <div class="uk-flex uk-margin-top">
                  <img alt=""
                    src="assets/images/avatar.jpg"
                    width="55"
                    height="55"
                    class="uk-border-circle"
                  />
                  <span
                    class="uk-text-top uk-margin-small-left txt-white mt-2 text-small"
                    >Brooklyn Simmons<br /><span class="text-primary -mt-3"
                      >Pendron.Inc, CEO</span
                    ></span
                  ><br /><br />
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
  </div>
</div> -->
<!-- Map Section start -->
<app-google-map></app-google-map>
<!-- Map Section End -->
