<!-- Blockchain Section Start -->
<div class="" id="blockchain">
    <div class="uk-section">
      <div class="uk-container"
        uk-scrollspy="cls: animate__animated animate__bounceInUp animate__fast; target: .uk-card; delay: 200">
        <div class="uk-text-center">
          <h2 class="uk-text-uppercase txt-white uk-margin-remove-bottom">
            Blockchain
          </h2>
          <hr class="uk-divider-small" />
        </div>
        <div class="uk-child-width-1-2@m uk-margin-medium-top uk-grid-match" uk-grid>
          <div class="">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <h3 class="uk-card-title txt-primary">Ethereum (All EVM)</h3>
              <p>
                We can help you with all EVM (Ethereum Virtual Machine)
                Developments.. The main reason why Ethereum protocol exists is
                because it can continuously keep immutable and uninterrupted
                operations within a special state machine known as EVM. It is the
                environment where all smart contracts and Ethereum accounts live.
                If you need any custom developments on EVM, you just need to get
                in touch with us.
              </p>
            </div>
          </div>
          <div class="">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <h3 class="uk-card-title txt-primary">Binance server</h3>
              <p>
                Do you want to build your own cryptocurrency exchange like
                Binance? We are there to fulfill your dreams. You can start
                everything form the scratch and develop a fully feature-rich
                crypto platform with our help.
              </p>
            </div>
          </div>
          <div class="">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <h3 class="uk-card-title txt-primary">Bitcoin Core</h3>
              <p>
                Bitcoin Core is among the most popular software clients that
                participants use to create nodes, do transactions, store coins,
                and perform numerous other operations within the Bitcoin network.
                It is acting in the form of a gateway or interface, which
                determines the way how people interact with Bitcoin blockchain. If
                you need any custom developments to be done with Bitcoin core, we
                can help you out.
              </p>
            </div>
          </div>
          <div class="">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <h3 class="uk-card-title txt-primary">Cardano</h3>
              <p>
                Cardano is an open-source, decentralized, public blockchain, which
                uses pool of stake. This platform is used to facilitate peer to
                peer transactions within the internal cryptocurrency of its own.
                Cardano offers numerous applications and use cases. For example,
                you can use Cardano to determine the authenticity of a product or
                even to release a music album. We can help you with harnessing the
                most out of Cardano for your use case or application.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blockchain Section End -->
